@import "https://fonts.googleapis.com/css?family=Open+Sans";

.omFomMailGrid {
  .contentField {
    padding: 10px;
  }
  .grid {
    display: inline;
    float: left;
    &._25 {
      width: 24%;
    }
    &._50 {
      width: 32%;
    }
    &._75 {
      width: 71%;
    }
    &._100 {
      width: 96%;
    }
  }
  label {
    width: 100%;
    margin-bottom: 10px;
    color: #7e7e7e;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
  input {
    width: 96%;
    height: 35px;
    padding: 6px 2%;
    border: none;
    &[type=button] {
      background: url(/arquivos/btn-enviar.png) no-repeat;
      width: 100px;
      height: 40px;
      font-size: 0;
      cursor: pointer;
    }
    &[type=text] {
      width: 100%;
      color: #000;
      background: #f6f6f6;
    }
    &[type=file] {
      width: 100%;
      color: #000;
    }
  }
  textarea {
    width: 100%;
    border: none;
  }
  select {
    outline: 1px solid #222;
    width: 100%;
    height: 35px;
  }
  .textareaContent textarea {
    padding: 0;
    outline: none;
    height: 189px;
    width: 100%;
    background: #f6f6f6;
  }
  .error-input {
    outline-color: red;
  }
  .messageContent {
    width: 100%;
    display: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  .messageContentError {
    color: #b19393;
    padding: 11px 0;
    text-align: left;
    font-size: 10px;
  }
  .messageContentSuccess {
    color: #0B730F;
    padding: 11px 0;
    text-align: left;
  }
}

/*# sourceMappingURL=OmSendMessageStyle.css.map */