<script type="text/javascript" src="http://originalmedia.vteximg.com.br/arquivos/OMComponentsMobile.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script src="/arquivos/main-belair-mobile.js"></script>