<div class="backTop">
    <div class="backTopBtn">
        <i class="icon-arrow"></i> 
        <p>Topo</p>
    </div>
</div>

<footer class="pageFooter">
    <div class="newsBox">
        <div class="wrapper">
            <vtex.cmc:newsletterOptIn/>
        </div>
    </div>
    <div class="footerCont">
        <div class="wrapper">
            <!--<ul class="cont-sac">
                <li>
                    <h3>Atendimento</h3>
                </li>
                <li><a href="/account">Meus pedidos</a></li>
                <li><a href="/account/orders">Minha conta</a></li>
            </ul>-->
            <ul class="cont-faq">
                <li>
                    <h3>Dúvidas</h3>
                </li>
                <li><a href="/institucional/garantia">Garantia</a></li>
                <li><a href="/institucional/troca-devolucao">Troca e devolução</a></li>
                <li><a href="/institucional/entrega-montagem">Entrega e Montagem</a></li>
                <li><a href="/institucional/assistencia-tecnica">Assistência técnica</a></li>
                <li><a href="/institucional/contrato-consumidor">Contrato ao Consumidor</a></li>
                <li><a href="/institucional/politica-privacidade">Política de Privacidade</a></li>
            </ul>
            <ul class="cont-ins">
                <li>
                    <h3>Institucional</h3>
                </li>
                <li><a href="/institucional/quem-somos">Quem somos</a></li>
                <li><a href="/institucional/lojas">Lojas</a></li>
                <li><a href="/institucional/fale-conosco">Fale conosco</a></li>
            </ul>
            <!--<ul class="cont-pag">
                <li>
                    <h3>Pagamento e segurança</h3>
                </li>
                <li><img src="//belairmoveis.vteximg.com.br/arquivos/formasdepagamento2.png" alt="Formas de pagamento"/></li>
                <li class="secure">
                    <a href="http://secure.vtex.com/?an=BelAirMoveis" target="_blank"><img src="//belairmoveis.vteximg.com.br/arquivos/letsEncrypt.png"/></a>
                </li>
                <li class="clearsale">
                    <a href="https://selo.clearsale.com.br/Loja/ExibirDetalhesLoja/e428e623-2d06-48fb-b10c-e58472d1732d" target="_blank"><img src="https://selo.clearsale.com.br/Imagem/e428e623-2d06-48fb-b10c-e58472d1732d" alt="Selo Clearsale"/></a>
                </li>
                <li class="ebit">
                    <a id="seloEbit" href="http://www.ebit.com.br/belair-moveis/selo" target="_blank" onclick="redir(this.href);" title="Avaliado pelos consumidores" oncontextmenu="alert(&quot;Cópia proibida ! A certificação e-bit é de uso exclusivo de lojas conveniadas à e-bit.&quot;);return false;" value="1" style="display: block; overflow: hidden; position: relative;"><img src="https://imgebit-a.akamaihd.net/ebitBR/selo/img_81083.png" style="border: 0px;"/>
                        <script src="//validator.ebit.com.br?ebitId=81083&amp;typeTag=selo&amp;urlOrigin=http%3A%2F%2Fbelairmoveis.vtexcommercestable.com.br%2F" async="true"></script>
                    </a>
                    <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?81083"></script>
                </li>
                <li class="abcomm">
                    <a href="javascript:window.open('http://abcomm.org/certificado.php?url=belairmoveis.com.br', 'c_TW', 'location=no, toolbar=no, width=600, height=670');"><img src="https://abcomm.com.br/selos/Selo_EmpresaPremium.png" width="50" border="0"/></a>
                </li>
                <li class="trustvox-selo">
                    <script type="text/javascript">
                    var _trustvox_certificate = _trustvox_certificate || [];
                    _trustvox_certificate.push(['_storeId', '72455']);
                    (function() {
                        var tv = document.createElement('script');
                        tv.type = 'text/javascript';
                        tv.src = '//s3-sa-east-1.amazonaws.com/trustvox-certificate-widget/widget.js';
                        tv.async = true;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(tv, s);
                    })();
                    </script>
                    <div data-trustvox-certificate-fixed=""></div>
                </li>
            </ul>-->
        </div>
    </div>
    <div class="copyright">
        <div class="wrapper">
            <div class="cr">
                <div class="logoFooter">Belair</div>
                <p>BEL-AIR MÓVEIS LTDA. Estrada do Cabuçu, 1547 | Campo Grande | Rio de Janeiro | RJ CNPJ 33552902/0004-32</p>
            </div>
            <div class="dev">
                <a href="http://www.vtex.com/site/en/" class="dev-vtex"><img src="//belairmoveis.vteximg.com.br/arquivos/vtex-logo.png"/></a>
                <a href="http://www.originalmedia.com.br/" class="dev-original"><img src="//belairmoveis.vteximg.com.br/arquivos/originalmedia-logo.png"/></a>
            </div>
        </div>
    </div> 
</footer>

<div class="lightbox" id="socialMedia">
    <div class="lightboxOverlay"></div>

    <div class="lightboxContent">
        <div class="lightboxAction">
            <span class="lightboxTriggerClose ico">
                <i class="icon-close"></i>fechar
            </span>
        </div>

        <div class="lightboxContentInner">
            <h2 class="lightbox__title mainTitle">Redes Sociais</h2>

            <div class="socialMediaLinks">
                <a href="#" class="socialMediaLinks__item">
                    <i class="icon-facebook"></i>
                    <span>Facebook</span>
                </a>
                <a href="#" class="socialMediaLinks__item">
                    <i class="icon-twitter"></i>
                    <span>twitter</span>
                </a>
                <a href="#" class="socialMediaLinks__item">
                    <i class="icon-instagram"></i>
                    <span>instagram</span>
                </a>
            </div>
        </div>
    </div>
</div>