<header class="pageHeader">
    <div class="wrapper">
        <div class="left">
           <div class="menu ico">           
               <i class="icon-menu lightboxTrigger" data-target="pageMenu" data-position="full"></i>
               Menu
           </div>
    
           <div class="logo">
               <a href="/" title="Bel Air" class="logoImg">Bel Air</a>
           </div>
        </div>
      
        <div class="right">
           <!--div class="menu ico">           
               <i class="icon-phone lightboxTrigger" data-target="phoneNumber" data-position="center"></i>
               Telefone
           </div-->

            <div class="search ico searchToggleBottomTrigger" data-target="searchBox">
                <i class="icon-search"></i>Buscar
            </div>    
    
            <div class="locationFinder ico">
                <a href="/institucional/lojas" title="Encontrar lojas">
                   <i class="icon-location-outline"></i>Encontrar lojas
                </a>
            </div>
    
           <div class="cart ico">
               <a href="/checkout/#cart" title="Carrinho" class="cartLink">
                   <i class="icon-cart"></i>Carrinho
                   <vtex.cmc:AmountItemsInCart />
               </a>
           </div>
        </div> 
    </div>
</header>

<div class="searchBox" id="searchBox">
    <div class="searchBoxOverlay"></div>
    
    <div class="searchBoxContent">
        <div class="wrapper">
            <vtex.cmc:fullTextSearchBox/>
        </div>
    </div>
</div>

<div class="lightbox" id="pageMenu">
    <div class="lightboxOverlay"></div>

    <div class="lightboxContent">
        <div class="lightboxAction">
            <span class="lightboxTriggerClose ico">
                <i class="icon-close"></i>fechar
            </span>
        </div>

        <div class="lightboxContentInner">
            <div class="lightboxHeader">
                <vtex.cmc:welcomeMessage/>
                
                <div class="accountLink">
                    <a href="/minha-conta">Minha conta</a>
                </div>
            </div>
            
            <vtex.cmc:departmentNavigator/> 

            <div class="otherLinks">
                <ul>
                    <li><a href="">Central de atendimento</a></li>
                    <li><a href="">Institucional</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="lightbox" id="phoneNumber">
    <div class="lightboxOverlay"></div>

    <div class="lightboxContent">
        <div class="lightboxAction">
            <span class="lightboxTriggerClose ico">
                <i class="icon-close"></i>fechar
            </span>
        </div>

        <div class="lightboxContentInner">
            <p class="mainTitle">
                Fale conosco
                <span>Sugestões, dúvidas ou reclamação entre em contato</span>
            </p>

            <div class="phoneList">
                <div class="phoneItem">
                    <div class="phoneItemNumber">
                        <p>(21) 1234-5678</p>
                        <small>De segunda a sexta das 9h as 18h</small>
                    </div>
                    <div class="phoneCall">
                        <a href="tel:+21 1234-5678"><i class="icon-phone"></i></a>
                    </div>
                </div>

                <div class="phoneItem">
                    <div class="phoneItemNumber">
                        <p>(21) 1234-5678</p>
                        <small>De segunda a sexta das 9h as 18h</small>
                    </div>
                    <div class="phoneCall">
                        <a href="tel:+21 1234-5678"><i class="icon-phone"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>