<div class="box-lojas">
    <div id="store-locator">
        <input type="hidden" id="myloc" />
        <span class="loc-title get-loc-title"><strong>Encontre uma loja</strong></span>
        <a id="get-loc" href="#" class="no-loc loc-link">Pegar minha localização</a>
        <em id="getloc-error" class="loc-error"></em>
        <span class="loc-title search-loc-title"><strong>ou se preferir</strong></span>
        <form id="loc-form">
            <input id="search-loc" class="controls" class="loc-input" type="text" placeholder="Digite seu endereço ou CEP" required="required" />
            <input id="search-loc-button" class="loc-button" type="submit" value="Buscar" />
        </form>
        <em id="searchloc-error" class="loc-error"></em>
    </div>
    
    <!-- lojas -->
    <div class="contentStores"> <!-- lojas -->
        <div class="store americas" data-lat="-23.010274" data-lng="-43.460575">
            <h2>Américas Shopping / Recreio dos Bandeirantes</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Av. das Américas, 15.500. 2º piso – lojas 250/251</span>
            </p>            
            <p><strong>Telefone: </strong>21 2442-9511 / 21 2441-9512</p>        
        </div>

        <div class="store center" data-lat="-22.924800" data-lng="-43.361032">
            <h2>Center Shopping / Jacarepaguá</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Av. Geremário Dantas, 404 - 3º Piso Lojas 312 e 313
            </p>            
            <p><strong>Telefone: </strong>21 3392-2033 / 21 3392-2168</p>  
        </div>

        <div class="store martriz" data-lat="-22.902642" data-lng="-43.560836">
            <h2>Matriz / Campo Grande</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Rua Eng. Trindade, 99. Em frente ao Itaú e HSBC
            </p>            
            <p><strong>Telefone: </strong>21 3394-5140 / 21 3394-5228</p>  
        </div>

        <div class="store norte" data-lat="-22.885793" data-lng="-43.283277">
            <h2>Norte Shopping / Cachambi</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Av. Dom Hélder Câmara, 5474, 2º piso – Loja 1210
            </p>            
            <p><strong>Telefone: </strong>21 3899-7548 / 21 3899-7812</p>  
        </div>

        <div class="store parkshopping" data-lat="-22.926818" data-lng="-43.575428">
            <h2>ParkShopping / Campo Grande</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Estrada do Monteiro, 1200 – 2º piso, loja 202A
            </p>            
            <p><strong>Telefone: </strong>21 2414-7251 / 21 2414-7249</p>  
        </div>

        <div class="store parqueshopping" data-lat="-22.885892" data-lng="-43.402586">
            <h2>ParqueShopping / Sulacap</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Av. Marechal Fontenelle, 3545 1o piso, loja 125
            </p>            
            <p><strong>Telefone: </strong>21 2391-0551 / 21 2391-0552</p>  
        </div>

        <div class="store viaparque" data-lat="-22.974283" data-lng="-43.364911">
            <h2>Via Parque / Barra da Tijuca</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Av. Ayrton Senna, 3.000 - 2º Piso. lojas 2033-A e 2036-A
            </p>            
            <p><strong>Telefone: </strong>21 3150-3861 / 21 3150-3872</p>  
        </div>

        <div class="store viabrasil" data-lat="-22.823121" data-lng="-43.319726">
            <h2>Via Brasil Shopping / Irajá</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Rua Itapera, 500 lojas 156 a 161
            </p>            
            <p><strong>Telefone: </strong>21 2471-3071</p>  
        </div>

        <div class="store west" data-lat="-22.884637" data-lng="-43.557638">
            <h2>West Shopping / Campo Grande</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Estrada do Mendanha, 555 - 2º Piso Loja 202
            </p>            
            <p><strong>Telefone: </strong>21 3394-7604 / 21 3394-7354</p>  
        </div>
        
        <div class="store novaamerica" data-lat="-22.8790328" data-lng="-43.2739173">
            <h2>Shopping Nova América / Del Castilho</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Av Pastor Matin Luter King Jr, 126 – 2º piso Lojas 1509 e 1510 – Del Castilho 20765-000
            </p>            
            <p><strong>Telefone: </strong>21 2303-2105 / 21 2303-2106</p>  
        </div>

        <div class="store novaiguacu" data-lat="-22.7632269" data-lng="-43.4673106">
            <h2>Shopping Nova Iguaçu / Nova Iguaçu</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Av. Abílio Augusto Távora, 1061 – 2º piso Loja 4044
            </p>            
            <p><strong>Telefone: </strong>21 2303-8630 / 21 2303-8631</p>  
        </div>

        <div class="store shoppingMetropolitano" data-lat="-22.9723074" data-lng="-43.3731699">
            <h2>Shopping Metropolitano / Barra da Tijuca</h2>
            <p class="addressStore">
                <strong>Endereço: </strong> 
                <span>Av. Embaixador Abelardo Bueno, 1300 – piso L1 Lojas 1015 e 1016
            </p>            
            <p><strong>Telefone: </strong>21 3095-9050 / 21 3095-9291</p>  
        </div>
    </div>  

    <div id="hidden_map" class=""></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKK0jLqJ7j-rphcPFVECSVGWKZYcZcLuw&region=BR&libraries=places,geometry" async defer></script>
<script src="/arquivos/om_storelocator.js"></script>