/*buttons*/

%primaryButton{
	background: $primaryBtnColorBg;
	color: $primaryBtnColorFont;
	font: $primaryBtnFont;
	text-transform: uppercase;
	padding: 13px;
	text-align: center;
	display: block;
	font-weight: 300;
	border-radius: 3px;
}

%secondaryButton{
	background: $secondaryBtnColorBg;
	color: $secondaryBtnColorFont;
	font: $secondaryBtnFont;
	text-transform: uppercase;
	padding: 13px;
	text-align: center;
	display: block;
	font-weight: 300;
	border-radius: 3px;
}

%buyActionButton{
	display: block;
	background: $buyBtnColorBg;
	color: $buyBtnColorFont;
	font: $buyBtnFont;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	border-bottom: 3px solid #379a36;
	border-radius: 3px;
	&:after{
		content: '\e902';
		font-family: 'icomoon';
		display: inline-block;
		font-size: 24px;
		margin-left: 10px;
	}
}