//-----------------------

//PRIMARY VARIABLES

//-----------------------

//color pallete
$color1: #00536e;
//$color2: #6f7693;
$color2: #f0e011;
$color3: #403f44;
$color4: #ececee;
$color5: #f1f1f1;




//fonts
$font1: 'Proxima Nova', sans-serif;
$font2: 'Open Sans', sans-serif;


//----------------------

//DEFINES GRID

//-----------------------

$max-width: 100% !global;



//----------------------

//SETUP VALUES

//-----------------------

// global

$baseFont: rem(18px) $font1;
$baseFontColor: $color3;
$baseColorBg: #fff;
$baseLinkColor: $color1;


// inputs

$inputBorderColor: #ccc;
$inputTxtColor: $color3;
$inputColorShadow: $color3;


// titles

$sectionTitleFont: rem(30px) $font1;
$sectionTitleColor: $color3;

$pageTitleFont: rem(23px) $font1;
$pageTitleColor: $color3;

$pageTopColorBorder: $color1;


// buttons

$primaryBtnColorBg: $color1;
$primaryBtnColorFont: #fff;
$primaryBtnFont: rem(14px) $font1;

$secondaryBtnColorBg: $color5;
$secondaryBtnColorFont: $color3;
$secondaryBtnFont: rem(14px) $font1;

$buyBtnColorBg: #64c463;
$buyBtnColorFont: #fff;
$buyBtnFont: rem(30px) $font1;


// lightbox

$lighbtoxContentBg: #fff;
$lighbtoxContentBgOpacity: 0.9;
$lightboxBgOverlay: #000;
$lightboxHeaderBg: $color1;
$lightboxHeaderColor: #fff;
$lightboxCloseColor: $lightboxHeaderColor;
$lightboxCloseFullColor: $lightboxHeaderColor;


// lightbox telefone

$phoneCallBg: $color1;
$phoneCallColor: #fff;


// accordion

$accordionBorderColor: $color4;
$accordionTitleFont: rem(14px) $font1;
$accordionTitleColor: $color2;
$accordionTitleIconColor: $color3;


// alert msgs

$errorColor: $color1;


// header 

$headerBg: $color1;
$headerBorder: $color3;
$iconsColor: #fff;
$cartAmountBg: $color2;
$cartAmountText: $color1;
$searchIconActiveColor: $color2;


// search box

$searchBoxContentColorBg: $color1;
$searchBoxContentIcoColor: #fff; 


// search box > autocomplete

$autocompleteBg: #fff;
$autocompleteBorderColor: $color3;


// menu

$menuBorder: $color1;
$menuColorLink: $color1;
$menuIcoColor: $color3;

$bgBackMenu: #ccc;
$colorBackMenu: #fff;


// footer

$diferentialsColorTit: $color1;
$diferentialsColorIco: $color2;
$diferentialsColorTxt: $color2;

$newsletterColorBtn: $color1;
$newsletterColorInputTxt: #999;

$footerBgColor: $color1;
$footerBorderColor: $color4;
$footerTxtColor:#FFF;

$sacColorBorder: $color3;
$sacColorLink: $color1;

$footerInstLinksColor: #FFF;

$footerBackTopColorBg: #fff;
$footerBackTopColorFont: $color1;


// shelf

$shelfBorderColor: $color4;
$shelfTxtColor: $color3;
$shelfBestPriceColor: inherit;
$shelfOldPriceColor: #999;


// catalog

$resultNumberBg: #fff;
$resultNumberColor:$color2;
$featuredCategoriesColorTxt:$color2;


// switch view

$selectViewColorBg:$color3;
$selectViewColorBtBg:$color3;
$selectViewColorBtTxt:$color4;
$selectViewColorBtActiveBg:#FFF;
$selectViewColorBtActiveTxt:$color2;


// filter

$filterRefineBoxBg: #dedede;
$refineSearchTxtColor: $color3;
$refineSearchBorderColor: #ccc;
$refineSearchItemFont: rem(30px) $font1;


// empty search

$emptySearchColorTitle:$color1;
$emptySearchColorTxt:$color1;


// social

$colorShareLink: $color2;


// product

$productImageBorderColor: $color5;
$productShareColor: $color1;
$productNameFont: rem(30px) $font1;
$productNameColor: $color3;
$productBestPriceColor: inherit;
$productOldPriceColor: inherit;
$productZoomIconColor: $color3;


// product > detalhes

$productLoadMoreBg: $color1;


// product > notifyme

$notifymeTitleTxtColor: $color1;
$notifymeTxtColor: $color1;


// product > sku selection

$skuBoxSelectColorBg: #fff;
$skuBoxSelectColorText: $color2;

$skuItemColorBg: #fff;
$skuItemColorText: #fff;
$skuItemPickedColorBg: #fff;
$skuItemPickedColorText: $color3;
$skuItemBorder: 1px solid $color5;
$skuItemPickedBorder: 1px solid $color2;


// account

$myAccountColor: $color2;
$myAccountBoxBg: #fff;
$myAccountIconColor: $color1;
$myAccountWelcomeBg: $color2;
$myAccountWelcomeColor: #fff;