/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@font-face {
    font-family: 'Proxima Nova';
    src: url("/arquivos/proximanova-light-webfont.eot.css");
    src: url("/arquivos/proximanova-light-webfont.eot.css?#iefix") format("embedded-opentype"), url("/arquivos/proximanova-light-webfont.woff.css") format("woff2"), url("/arquivos/proximanova-light-webfont.woff.css") format("woff"), url("/arquivos/proximanova-light-webfont.ttf.css") format("truetype"), url("/arquivos/proximanova-light-webfont.svg.css#proxima_novalight") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("/arquivos/proxima-nova-alt-bold-webfont.eot.css");
    src: url("/arquivos/proxima-nova-alt-bold-webfont.eot.css?#iefix") format("embedded-opentype"), url("/arquivos/proxima-nova-alt-bold-webfont.woff.css") format("woff2"), url("/arquivos/proxima-nova-alt-bold-webfont.woff.css") format("woff"), url("/arquivos/proxima-nova-alt-bold-webfont.ttf.css") format("truetype"), url("/arquivos/proxima-nova-alt-bold-webfont.svg.css#proxima_nova_altbold") format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("/arquivos/proximanova-black-webfont.eot.css");
    src: url("/arquivos/proximanova-black-webfont.eot.css?#iefix") format("embedded-opentype"), url("/arquivos/proximanova-black-webfont.woff.css") format("woff2"), url("/arquivos/proximanova-black-webfont.woff.css") format("woff"), url("/arquivos/proximanova-black-webfont.ttf.css") format("truetype"), url("/arquivos/proximanova-black-webfont.svg.css#proxima_novablack") format("svg");
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url("/arquivos/proximanova-regular-webfont.eot.css");
    src: url("/arquivos/proximanova-regular-webfont.eot.css?#iefix") format("embedded-opentype"), url("/arquivos/proximanova-regular-webfont.woff.css") format("woff2"), url("/arquivos/proximanova-regular-webfont.woff.css") format("woff"), url("/arquivos/proximanova-regular-webfont.ttf.css") format("truetype"), url("/arquivos/proximanova-regular-webfont.svg.css#proxima_nova_rgregular") format("svg");
    font-weight: 400;
    font-style: normal;
}