@font-face {
    font-family: 'icomoon';
    src:url('/arquivos/icomoon-om.eot.css?');
    src:url('/arquivos/icomoon-om.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/icomoon-om.ttf.css?') format('truetype'),
        url('/arquivos/icomoon-om.woff.css?') format('woff'),
        url('/arquivos/icomoon-om.svg.css?#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico{
    font-size: 0;
    display: block;

    [class^="icon-"], [class*=" icon-"]{
        font-size: rem(20px);
    }
}

.icon-arrow:before {
  content: "\e900";
}
.icon-card:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-location-outline:before {
  content: "\e903";
}
.icon-mail-outline:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-truck:before {
  content: "\e907";
}
.icon-view-list:before {
  content: "\e908";
}
.icon-share:before {
  content: "\e909";
}
.icon-resize:before {
  content: "\e90a";
}
.icon-phone-call:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-my-profile:before {
  content: "\e90d";
}
.icon-location:before {
  content: "\e90e";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-list:before {
  content: "\e910";
}
.icon-information:before {
  content: "\e911";
}
.icon-grid-view:before {
  content: "\e912";
}
.icon-filter:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
.icon-box:before {
  content: "\e916";
}
.icon-tools:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e919";
  color: #00536e;
}
.icon-pinterest:before {
  content: "\e918";
  color: #00536e;
}
.icon-twitter:before {
  content: "\e91a";
  color: #00536e;
}
.icon-whatsapp:before {
  content: "\e91b";
  color: #00536e;
}