/*titles*/

%sectionTitle{
	font: $sectionTitleFont;
	color: $sectionTitleColor;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;

	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #9f9fa1;
		margin: 8px auto;
	}

	span{
        font-size: rem(12px);
        display: block;
        text-transform: none;
        line-height: 1.5;
    }
}


%pageTitle{
	font: $pageTitleFont;
	color: $pageTitleColor;
	text-transform: uppercase;
	line-height: 1;
	font-size: 30px;
	font-weight: 300;
	//padding: 0 10px;

	a{
		color: $pageTitleColor;
	}
}