<h2 class="sectionTitle">Fale conosco</h2>
<p class="complementaryTitle">Sugestões, dúvidas ou reclamações entre em contato</p>

<div class="contact phone">
	<a href="tel:(21) 1234-5678">
		<i class="icon-phone"></i>
		<div class="contactInfo">
			<p class="tel">(21) 1234-5678</p>
			<small>De segunda a sexta das 9h as 18h</small>
		</div>
	</a>
</div>

<div class="contact email">
	<a href="mailto:atendimento@omstore.com.br">
		<i class="icon-mail"></i>
		<div class="contactInfo">
			atendimento@omstore.com.br
		</div>
	</a>
</div>