.accordionList{
	background: #fff;
	border-radius: 2px;

	.accordionList__item{
		border-bottom: 1px solid $accordionBorderColor;
		padding: 15px;

		&.open{
			.accordionList__title:after{
				transform: rotate(-90deg);
			}
		}
	}

	.accordionList__title{
		font: $accordionTitleFont;
		color: $accordionTitleColor;
		position: relative;

		&:after{
			content: "\e901";
			font-family: 'icomoon';
		    speak: none;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    line-height: 1;
		    /* Better Font Rendering =========== */
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
			color: $accordionTitleIconColor;
			position: absolute;
			right: 0;
			top: 0;
			transform: rotate(90deg);
		}
	}

	.accordionList__content{
		display: none;
		padding: 10px 0;

		&.active{
			display: block;
		}	
	}
}