#searchFilter{
    .lightboxHeader{
        font-size: 24px;
        text-transform: uppercase;
        i{
        	margin-right: 10px;
        	font-size: 30px;
        	vertical-align: sub;
        }
    }
    .lightboxContent{
    	background: #fff;
    }
}