/* ==========================================================================
    Footer
   ========================================================================== */
.pageFooter {
	background: $footerBgColor;
	color: $footerTxtColor;
	margin-top: 80px;
}
.socialMediaLinks{
    text-align: center;
    
    a{
        color: $colorShareLink;
        display: inline-block;
        vertical-align: bottom;
        margin: 0 12px;
    }

    i{
        display: block;
        font-size: rem(20px);
    }   

    span{
        display: block;
        margin-top: 5px;
        text-transform: uppercase;
        font-size: rem(10px);
    }
}

.backTop{
	display: none;//?
	.backTopBtn{
		float: right;
		background: $footerBackTopColorBg;	
		color: $footerBackTopColorFont;	
		display: block;
		text-align: center;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		line-height: 60px;
		position: relative;
		margin: 0 10px 10px 0;
 	}
	
	i{
		@include transform(rotate(-90deg));
		position: absolute;
		top: 8px;
		left: 20px;
	}

	p{
		font-size: 10px;
		text-transform: uppercase;
	}
}
.newsBox {
	text-align:center;
	position: relative;
	padding:40px 0 20px;
	h3{
		display: inline-block;
		position: relative;
		color: $color2;
		text-transform: uppercase;
		padding-bottom:10px;
		font-size: 24px;
		span{
			display: block;
			color: #fff;
			font-size: initial;
			text-transform: none;
			text-align: left;
			line-height: 22px;
		}
		&:before{
			content: "\e904";
            display: block;
            color: $color2;
			float: left;
			clear: right;
			margin-right: 25px;
            font-size: 40px;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 50px;
		}
	}

	p {display: none;}
	input{
		font-size: 18px;
		border:none;
		outline: none;
		box-shadow: none;
		&[type="text"] {
			display: block;
			width: 100%;
			height: 60px;
			color: $newsletterColorInputTxt;
			border-radius: 0;
		}
		&[type="button"] {
			height: 58px;
			//text-transform: uppercase;//????
			padding: 10px 30px;
			text-transform: capitalize;
			color: #fff;
			background: $newsletterColorBtn;
			border-radius: 3px;
		}
		&.newsletter-client-name {
			margin-bottom: 20px;
		}
		&.newsletter-button-ok{
			position: absolute;
			right: 1px;
			bottom: 1px;
			width: 18%;
			font-size: 0;
		}
		&.newsletter-button-back{
			position: relative;
			top: -80px;
		}
	}

	fieldset{
		position: relative;
		&.error {
			background: $color2;
			padding: 20px 0 100px;
		}
		&.success{
			color: $color2;
			padding: 20px 0;
		}
		&:not(.error):not(.success):after{
			content: 'Enviar';
			position: absolute;
			right: 1px;
			bottom: 1px;
			font-size: 18px;
			line-height: 58px;
			width: 18%;
			height: 58px;
			pointer-events: none;
		}
	}

}
.footerCont{
	color: #fff;
	padding: 20px 0;
	.wrapper{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		overflow: hidden;
	}
	h3{
		display: block;
		font-size: 30px;
		text-transform: uppercase;
		padding-bottom: 20px;
		margin-bottom: 10px;
		border-bottom: 1px dotted #fff;
	}
	ul{
		flex: 0 0 40%;
		margin-right: auto;
		&:last-child{
			margin-right: 0;
		}
	}
	li{
		font-size: 18px;
	}
	a{
		display: block;
		color: inherit;
		padding: 10px 10px 10px 0;
	}
}
.copyright {
	background-color: #fff;
	padding: 20px 0;
	.wrapper{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}
	.cr{
		display: inline-flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	.dev{
		display: inline-flex;
		flex-wrap: nowrap;
		align-items: center;
		a{
			display: block;
			width: 100px;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
		}
		.dev-vtex{
			display: none;
		}
	}
	.logoFooter{
		display: inline-block;
		display: none;//
		vertical-align: middle;
        background: url("/arquivos/mobile-logo.png") no-repeat center;
        background-size: contain;
        flex: 0 0 85px;
        height: 40px;
        font-size: 0; 
        margin: 0 auto; 
	}
	p{
		display: inline-block;
		vertical-align: middle;
		color: #999;
		padding-right: 10%;
	}
}