/* ==========================================================================
    Form elementos
   ========================================================================== */
input[type=text], select{	
	font-size: 24px;
	padding:20px;
    border: 1px solid $inputBorderColor;
    outline: none;
    color: $inputTxtColor;
}