/* ==========================================================================
    Header
   ========================================================================== */
.pageHeader{
    background: $headerBg;
    //border-bottom: 3px solid $headerBorder;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 99;

    .left {float:left;}
    .right {float:right;}

    .wrapper {
        padding:0;
        
        > div{
            display: inline-block;
            vertical-align: middle;
        }
    }

    .ico{
        padding: 20.2px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        color:$iconsColor;
        cursor: pointer;
        i{
            font-size: 30px;
        }
        a{
            color:$iconsColor;
        }
    }

    .logo{
        display: inline-block;
        vertical-align: middle;
        padding: 15px 0;
        background-color: $color2;
        a{
            display: block;
            background: url("/arquivos/mobile-logo.png") no-repeat center;
            background-size: contain;
            width: 100%;
            min-width: 125px;
            height: 40px;
            font-size: 0; 
            margin: 0 auto; 
        }
    }

    .cart{
        position: relative;
        margin-right: 8px;

        .amount-items-in-cart{
            .title, .amount-products, .amount-items strong, .amount-kits, .total-cart{display: none}
    
            .amount-items em{
                display: block;
                font-size: rem(13px);
                background: $cartAmountBg;
                color: $cartAmountText;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                padding: 3px;
                border: none;
                width: 18px;
                height: 18px;
                line-height: 14px;
                right: 10px;
                top: 10px;
            }
        }
    }

    .searchToggleBottomTrigger{
        &.active{
            &:after{
                content: "";
                width: 100%;
                height: 3px;
                position: absolute;
                top: 0;
                left: 0;
                background: $searchIconActiveColor;
            }
        }
    }
}


/*busca*/
.searchBox{
    display: none;

    &.active{
        display: block;
    }
    .wrapper{
        padding: 0 5%;
    }
    .searchBoxContent{
        background: $searchBoxContentColorBg;
        z-index: 9999;
        width: 100%;
        padding: 15px 0;
        position: fixed;
        top: 70px;
        border-top: 1px solid #086888;
    }

    .searchBoxOverlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.8);
        z-index: 9;
    }
} 

.busca{
    position:relative;
    legend, select {display:none;}
    
    input{
        display: inline-block;
        vertical-align: middle;
    }
    
    .fulltext-search-box{
        background: #003c4f;
        height: 60px;
        width: 100%;
        color: #fff;
        font-size: 14px;
        padding: 20px;
        padding-right: 70px;
        text-transform: uppercase;
        border: 1px solid #0a4356;
        border-radius: 0;
        outline: none;
        box-shadow: inset 2px 2px 0 #003647;
    }

    .btn-buscar{
        display: block;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 57px;
        height: 57px;
        background: $color1;
        border-radius: 3px;
        border: none;
        font-size: 0;
    }

    label{
        display: block;
        font-size: 0;
        position:absolute;
        right: 14px;
        top:50%;
        margin-top: -14px;
        z-index: 1;
        pointer-events: none;

        &:before{
            content: "\e906";
            display: block;
            font-size: 30px;
            color: $searchBoxContentIcoColor;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }   
}


/*autocomplete busca*/
.ui-autocomplete{
    background: $autocompleteBg;
    padding: 20px 10px;
    z-index: 999 !important;
    width: 100%!important;
    left: 0 !important;

    li{
        padding: 10px; 
        border-top: 1px solid $autocompleteBorderColor;
        overflow: hidden;

        &:first-child{border-top: none}

        img{
            float: left; 
            margin-right: 10px;
        }
    }
}


/*menu principal*/
#pageMenu{    
    .lightboxContentInner{
         &>div{
            display: none;
        }
        .lightboxHeader{
            display: block;
        }
        .menu-departamento{
            display: block;
            position: relative;
        }
    }
    .lightboxHeader{
        text-align: center;

        a{
            color: $lightboxHeaderColor;
        }
    }

    /*saudacao*/
    .welcome{
        a{
            display: block;
            padding-top: 10px;
            margin-top: 10px;
            font-size: rem(12px);
            color: #fff;
            
            &:before{
                content:"";
                border-top: 1px solid $color1;
                width: 15%;
                display: block;
                margin: 0 auto 15px auto;
            }
        }
    }

    .accountLink{
        display: none;
        margin-top: 10px;
    }
    
    .inactive {
        left: -100% !important;
    }

    .otherLinks {
        position:relative;
        left:0;
        @include transition(all ease 0.3s);
    
        li{
            border-bottom:1px solid $menuBorder;
            text-transform: uppercase;
            font-size: rem(13px);
            padding: 0 10px;
        }

        a{
            color:$menuColorLink;
            padding: 15px 0;
            display: block;
            position: relative;
        }
    }
}



#pageMenu{
    @extend %baseMenu;
}


/*telefone*/
#phoneNumber{
    .lightboxContentInner{
        background: none;
        color: #fff;
    }

    .lightboxAction .icon{
        color: #fff;
    }

    .mainTitle{
        color: #fff;
    }

    .phoneItem{
        margin-bottom: 25px;
        
        div{
            display: inline-block;
            vertical-align: middle;
        }
    }

    .phoneItemNumber{
        width: 80%;
        font-size: rem(22px);
        
        small{
            font-size: rem(10px);
            font-weight: 300;
            display: block;
        }
    }

    .phoneCall{
        width: 20%;
        
        a{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            display: block;
            border-radius: 50%;
            background: $phoneCallBg;
            color: $phoneCallColor;
            font-size: rem(18px);
        }
    }
}