%baseMenu{
	//border-bottom:1px solid $menuBorder;

    ul, h4, h5{
        display: none;
    }

    h3{
      border-top:1px solid $menuBorder;
      font-size: rem(26px);
      padding: 0 10px;
      color:$menuIcoColor;
      text-transform: uppercase;
      @include transition(left ease 0.3s);

      a {
        color:$menuColorLink;
        padding: 15px 0;
        display: block;
        position: relative;
        &:after {
            font-family: 'icomoon';
            content: "\e900";
            font-size:rem(30px);
            position:absolute;
            top:50%;
            margin-top:-14px;
            right:0;
        }
    }
}

.ponta-de-estoque{
    background-color: #c32033;
    color: #fff;
    border-color: transparent;
    a{
        color: inherit;
    }
}

&.lightbox.full .lightboxContent{
    background-color: #fff;
}
}


%navigationMenu{

    display: none;
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    background-color: #fff;
    z-index: 1;

    h5,
    ul{
        display: none;
    }
    h3,
    h4{
        border-top:1px solid $menuBorder;
        font-size: rem(26px);
        padding: 0 10px;
        position: relative;
        left: 0;
        overflow: hidden;
        a {
            color: $menuColorLink;
            padding: 15px 0;
            display: block;
            position: relative;
        }
    }
    h3.current-dept{
        display: none;
    }
    &.active{
        display: block;
    }
    //border-bottom: 1px solid $menuBorder;



    // ul.active{
    //     width: 100%;
    //     overflow: auto;
    //     opacity: 1;
    //     visibility: visible;
    //     left:0;

    //     .closeMenu{
    //         background: $bgBackMenu;
    //         color: $colorBackMenu;
    //         padding: 15px 0;
    //         font-size: rem(14px);
    //         position: relative;
    //         text-transform: uppercase;

    //         &:before{
    //             font-family: 'icomoon';
    //             content: "\e900";
    //             @include transform(rotate(-180deg));
    //             font-size: rem(30px);
    //             color: $colorBackMenu;
    //             display: inline-block;
    //             vertical-align: middle;
    //             margin: 0 20px;
    //         }
    //     }
    // }
}
#pageMenu{
    ul{
        li{
            padding: 15px 10px;
            border-top: 1px solid #00536e;
            text-transform: uppercase;
            a{
                text-decoration: none;
                color: #403f44;
            }
            &.closeMenu{
                border-bottom: 1px solid #00536e;
                font-size: 14px;
                padding: 15px 5px 10px;
                color: #403f44;
                background: #dbdbdb;
                text-transform: uppercase;
                -webkit-transition: left ease 0.3s;
                -moz-transition: left ease 0.3s;
                -ms-transition: left ease 0.3s;
                -o-transition: left ease 0.3s;
                transition: left ease 0.3s;

                &:before {
                    font-family: 'icomoon';
                    content: "\e900";
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                    transform: rotate(-180deg);
                    font-size: .9375rem;
                    color: #00536e;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0px 15px 5px;                    
                }
            }
        }
        &.active{
            display: block;
            position: absolute;
            background: #fff;
            width: 100%;
            height: 100%;
            top: 1px;
            z-index: 9;

            &.terceiro {
                position: fixed!important;
                top: 89px!important;
                height: calc(100% - 89px)!important;                
            }
        }
    }
}

%filterMenu{
    .depNav > *:not(.menu-departamento){
        display: none;
    }
    .menu-departamento{
        padding: 20px 3% 0;
        border: none;


        h4, .multi-search-checkbox{display: none;}

        fieldset{
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px dotted $refineSearchBorderColor;
        }

        h3, h5 {
            font: $refineSearchItemFont;
            margin-bottom: 10px;
            font-weight: bold;
        }

        label {
            display: block;
            padding: 10px 0;
            cursor: pointer;
            font-size: 20px;
            transition: all .1s ease-out;
        }

        &>h3{
            display: none;
            &.current-dept{
                display: block;
                text-transform: none;
                border: none;
                & + ul{
                    display: block;
                    text-transform: none;
                    padding-bottom: 20px;
                    border-bottom: 1px dotted $color3;
                }
            }
        }
        ul{
            display: none;
        }
        li{
            border: none;
            padding: 0;
            font-size: 20px;
        }
        a{
            color: inherit;
            &:after{
                display: none;
            }
        }

        .checkbox-label:not(.checkbox-color).active{
            font-size: 22px;
            font-weight: bold;
            &:before{
                font-family: 'icomoon';
                content: '\e915';
                display: inline-block;
                font-size: 30px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
        .filtro_cor{
            &>div{
                display: flex;
                flex-wrap: wrap;
            }
            .checkbox-color{
                display: inline-block;
                position: relative;
                font-size: 0;
                padding: 0;
                margin: 10px 20px 10px 0;
                &:before{
                    content: '';
                    width: 60px;
                    height: 60px;
                    display: block;
                    background-size: cover;
                    background-position: center;
                    border: 1px solid #ccc;
                    box-shadow: inset 0 0 0 3px #fff;
                }
                &.active:after{
                    content: '\e915';
                    display: block;
                    position: absolute;
                    right: 4px;
                    bottom: 4px;
                    font-family: 'icomoon';
                    font-size: 30px;
                    line-height: 30px;
                    text-shadow: 0px 0px 8px #fff;
                }
            }
        }

        .ver-filtros{
            display: block;
            text-decoration: underline;
            color: $baseLinkColor;
        }
    }
    .search-single-navigator{
        display: none !important;
    }

    .search-multiple-navigator{
        display: block !important;
        color: $refineSearchTxtColor;
        padding-bottom: 90px;
        &>h3{
            display: none;
        }
    }

    .filterRefine{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background: $filterRefineBoxBg;
        padding: 15px;
        z-index: 1;

        .bt-refinar{
            display: block;
            background-color: $color3;
            color: $color5;
            padding: 13px;
            text-align: center;
            border-radius: 3px;
            opacity: 0.5;
            transition: all .3s linear;
            font-size: 0;
            &:after{
                content: 'Aplicar filtros';
                display: inline-block;
                font-size: 30px;
            }
            
            &.enabled{
                opacity: 1;
                color: #fff;
            }
        }

        .msgError{
            margin-bottom: 10px;
            color: $errorColor;
        }
    }
}