.shelf{
    margin-bottom: 20px;

    h2{
        @extend %sectionTitle;
    }
    
    li {
        position: relative;
        float: left;        
        width: 100%;
        text-align: center;
        margin: 0 4% 4% 0;
        padding: 0 5px 5px;
        background: #fff;
        //border: 1px solid $shelfBorderColor;
        border-radius: 2px;
    }
    .wrapFlag{
        position: absolute;
        right: 0;
        z-index: 1;

        .flag{
            display: none;
            background: $color2;
            color: #fff;
            font-size: rem(11px);
            font-weight: 300;
            text-transform: uppercase;
            padding: 5px 10px;
            vertical-align: middle;

            &.novo, &.flag.off, &.cem--mdf {
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
                width: 40px;
                height: 40px;
                padding: 4px 0;
                font-weight: 700;
                color: #fff;
                text-align: center;
                line-height: 32px;
                border-radius: 100px;
                background: #c21737;
            }

            &.novo {
                font-size: .6875rem;
                background: #ef5f76;
            }

            &.cem--mdf {
                font-size: 0;
                background: #32858b;

                &:before {
                    display: block;
                    content: "100% mdf";
                    font-size: .625rem;
                    line-height: .625rem;
                    text-transform: uppercase;
                    vertical-align: middle;
                    padding: 6px 0;
                }
            }

            // &.exclusivo-site {
            //     display: block;
            //     font-size: 0;
            //     width: 149px;
            //     height: 23px;
            //     background: url(/arquivos/flag-exclusivo-site.png?v=2) no-repeat;
            //     position: absolute;
            //     top: 155px;
            //     right: 15px;
            // }
        }
    }
    .productImage{
        position: relative;
        margin-bottom: 15px;
        //border-bottom: 1px solid $shelfBorderColor;
        a{
            display: block;
        }
        img{
            width: 100%; 
            height: auto;
        }            
    }
    .shelfOverlay{
        display: none;
    }
    .productInfo {
        padding: 10px;
        text-align: center;
        background-color: $color4;
        a{
            color: $shelfTxtColor;
        }
    }

    .flags{margin-bottom: 10px;}


    .productName {
        font-size: 18px;
        line-height: 1.1;
        margin-top: 10px;
        min-height: 14px;
    }

    .productPrice {
        min-height: 50px;
        line-height: 1.3;
        font-style:oblique;
        .oldPrice{
            display: block;
            text-align: center;
            text-decoration: line-through;
            color: $shelfOldPriceColor;
        }

        .bestPrice{
            font-size: 18px;
            font-weight: bold;
        }

        .installment{
            display: block;
            font-size: 30px;
            font-weight: bold;
        }
    }

    .soldOut{
        min-height: 50px;
    }

    .last{
        margin-right: 0;
    }
}
.productList{
    ul{
        width: 100%;
        margin-top: 20px;
        // display: flex;
    }
    li{
        width: 50%;
        margin: 0;
        // display: flex;
        // flex-direction: column;
        // flex: 1 1 auto;
    }
    .productInfo{
        // flex: 1 1 auto;
    }
}
.vitrine.list{
    .shelf{
        li{
            width: 100%;
        }
        .productImage, .productInfo{
            width: 49%;
            text-align: left;
            display: inline-block;
            vertical-align: middle;
        }
        .productImage{
            border-bottom: none;
        }
    }
}

.shelfCarousel{
    overflow: hidden;
    li{
        margin: 0;
    }

    .slick-dots{
        text-align: center;

        li{
            display: inline-block;
            vertical-align: middle;
            line-height: 0;
            margin: 0 5px;
            padding: 0;
            float: none;
            width: auto;
            background: none;
            border: none;
            box-shadow: none;
            &.slick-active button{
                background-color: #ccc; 
            }
        }
        button{
            background-color: #fff;
            border: 1px solid #cccccc;
            width: 14px;
            height: 14px;
        }
    }
}
.shelfBanner{
    position: relative;
    overflow: hidden;
    li{
        width: 100%;
        float: left;
        margin: 0 40px;
    }
    a{
        display: block;
        color: inherit;
    }
    img{
        display: block;
        width: 100%;
        height: auto;
    }
    .productImage{
        margin: 0 40px 20px;
    }
    .productInfo{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .productPrice{
        flex: 1 0 40%;
    }
    .productDescription{
        flex: 0 1 60%;
        font-size: 18px;
        line-height: 30px;
        max-height: 114px;
        overflow: hidden;
    }
    .installment{
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 0;
    }
    .numberInstallment{
        display: block;
    }
    .bestPrice{
        display: inline-block;
        font-size: 20px;
    }
}