@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?9y1ia3');
    src:    url('fonts/icomoon.eot?9y1ia3#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?9y1ia3') format('truetype'),
        url('fonts/icomoon.woff?9y1ia3') format('woff'),
        url('fonts/icomoon.svg?9y1ia3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-view-list:before {
    content: "\e900";
}
.icon-share:before {
    content: "\e901";
}
.icon-search:before {
    content: "\e902";
}
.icon-resize:before {
    content: "\e903";
}
.icon-phone-call:before {
    content: "\e904";
}
.icon-phone:before {
    content: "\e905";
}
.icon-my-profile:before {
    content: "\e906";
}
.icon-menu:before {
    content: "\e907";
}
.icon-location:before {
    content: "\e908";
}
.icon-mail:before {
    content: "\e909";
}
.icon-list:before {
    content: "\e90a";
}
.icon-information:before {
    content: "\e90b";
}
.icon-grid-view:before {
    content: "\e90c";
}
.icon-filter:before {
    content: "\e90d";
}
.icon-edit:before {
    content: "\e90e";
}
.icon-arrow:before {
    content: "\e90f";
}

