/* ==========================================================================
   Catalog
   ========================================================================== */
/*titulo pagina*/
.topName{
	display: flex;
	position: relative;
	padding: 20px 0;
	background-color: $color5;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 20px 3%;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	h2{
		display: inline-block;
		vertical-align: middle;
	}

	.bread-crumb{
		.last, li:first-child{
			display: none;
		}

		li:after{
			content: "/";
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px; 
		}
	}

	.titulo-sessao, .resultado-busca-termo, .bread-crumb li{
		@extend %pageTitle;
	}

	.titulo-sessao{
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		.icon-arrow{
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -8px;
			font-size: rem(16px);
			@include transition(all ease 0.3s);
			@include transform(rotate(90deg));

			&.open{
				@include transform(rotate(-90deg));
			}
		}
	}
	&.emptySearch{
		padding: 60px 3%;
		font-size: 24px;
		text-align: center;
		justify-content: center;
		.searchTerm{
			display: block;
			font-size: 36px;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
}

#searchFilter{
	@extend %filterMenu;
}
.filter-active:before{
	content: '';
	position: fixed;
	z-index: 1;
	background-color: #000;
	opacity: .5;
	width: 100%;
	height: 100%;
	top: 70px;
}
.menuDept{
	@extend %navigationMenu;
}

.btn-load-more.confira-todos-produtos {
    width: 165px;
    height: 35px;
    text-align: center;
    background: #00536e;
    color: #f0e011;
    text-transform: uppercase;
    padding-top: 9px;
    font-size: 12px;
    display: block;
    margin: 0 auto;
}

/*departamento*/
body.department{
	
	.shelfCarousel{
		margin-top: 30px;
	}
	.titulo-sessao{
		&:after{
			display: inline-block;
			content: 'Mais Produtos';
			color: inherit;
			font-size: initial;
			font-weight: normal;
			text-align: right;
			text-transform: none;
			margin-right: 36px;
			margin-left: auto; 
		}
	}
	.filter-active .titulo-sessao:after{
		content: 'Categorias';
	}
}
.bannerDepartment{
	overflow: hidden;
}

/*titulo sessao*/
.sectionTitle{
	@extend %sectionTitle;
}


/*titulo busca*/
.resultado-busca-termo{
	float: left;

	&:before, &:after{
		content: '"';
		display: inline-block;
		vertical-align: top;
	}
}


/*numero de resultados */
.resultado-busca-numero{
	display: none;//
	background: $resultNumberBg;
	border-radius: 8px;
	color: $resultNumberColor;
	padding: 5px;
	float: right;

	&:after{
		content:"resultados";
		display: inline-block;
		vertical-align: middle;
		margin-left: 3px;
	}
}

.featuredProducts.shelfCarousel {
	margin-top: 30px;
	width: 100%;
	.slick-track{
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
	}
	.slick-slide{
		display: flex;
	    flex-direction: column;
		flex: 1 1 auto;
	}
	.productInfo{
		flex: 1 1 auto;
	}
}

/*banners destaque*/
.featuredCategories{
	margin: 20px 0;

	a{
		text-align: center;
		color: $baseFontColor;
		display: block;
		font-size: rem(16px);
	}
}


/*listagem*/
.resultado-busca-numero, .resultado-busca-numero .label, .resultado-busca-termo, .resultado-busca-termo .label, 
.resultado-busca-tempo, .filterBy, .pager, .sub:last-child, .compare, 
.menu-navegue, .refino-marca{display: none;}


/*filtros opçoes*/
.filterOptions{
	margin: 20px 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.refineSearch{
	display: inline-block;
	color: $color3;
	background-color: $color5;
	padding: 17.4px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	margin-right: 0;
	margin-left: auto;
	cursor: pointer;
	i{
		font-size: rem(30px);
		margin-right: 10px;
	}
}


/*ordernar*/
.orderBy{
	float: left;
	position: relative;
	label{
		display: none;
	}

	select{
		width: 100%;
		color: inherit;
		border: none;
		color: $color3;
		background-color: $color5;
		font-weight: bold;
		@include appearance(none);
	}
	&:after{
		display: inline-block;
		position: absolute;
		content: "\e900";
		font-family: 'icomoon';
		speak: none;		
		right: 8px;
		top: 4px;
		padding: 15px;
		font-size: 30px;
		color: $color3;
		background-color: $color5;
		@include transform(rotate(90deg));
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		pointer-events: none;
	}
}


/*change view*/
.selectView{
	background: $selectViewColorBg;
	border-radius: 3px;
	display: inline-block;
	float: right;
	@include transition(all ease 0.3s);

	span{
		display: inline-block;
		vertical-align: top;
		background: $selectViewColorBtBg;
		border-radius: 3px;
		font-size: 0;
		width: 40px;
		height: 40px;
		text-align: center;
		color: $selectViewColorBtTxt;
		@include transition(all ease 0.3s);
	}

	i{
		font-size: rem(20px);
		display: block;
		line-height: 40px;
	}

	.active{
		background: $selectViewColorBtActiveBg; 
		color: $selectViewColorBtActiveTxt;

		@include box-shadow(inset 0px -2px 0 $selectViewColorBg);
	}
}


/*smart research*/
.seeMore{
	@extend %secondaryButton;
	width: 100%;
	margin-top: 20px; 
	text-align: center;
	cursor: pointer;
	clear: both;
}

#returnToTop{
	display: none !important;
}


/*busca*/
body.search-result{
	.searchResultsTime, .vitrine + .searchResultsTime, 
	.search-multiple-navigator h3, .search-multiple-navigator h4{
		display: none;
	}

	.bread-crumb{
		float: left;
	}
	.search-count{
		text-align: right;
	}
	.resultado-busca-termo.hasResult{
		display: block;
	}

	// .search-single-navigator{
	// 	display: block !important;
	// 	padding: 0 10px;

	// 	h5, h5 + ul{
	// 		display: none;
	// 	}
	// }
}


/*busca vazia*/
body.empty-search{
	.emptySearch {
		h2 {
			@extend %pageTitle;
			font-size: rem(17px);
			padding: 0 0 0 60px;
			line-height: 1.2;

			&:before{
				content: "\e90f";
				font-family: 'icomoon';
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    line-height: 1;

			    /* Better Font Rendering =========== */
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    background: #fff;
			    position: absolute;
			    left: 0;
				border-radius: 50%;
				padding: 15px;
				top: 10px;
			}

			.searchTerm{
				font-weight: bold;
			}
		}
	}

	.newSearch{

	}

	.backHome{
		display: block;
		@extend %secondaryButton;
		margin: 20px 0;
	}

}
.trustvoxContainer h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}
.trustvox-widget-rating{
	display: flex;
	align-items: center;
	.ts-shelf-container,
	.trustvox-shelf-container {
		display: flex;
		align-items: center;
		.ts-shelf-rate{
			width: 150px;
			height: 30px;
			background-size: cover;
		}
		.ts-shelf-rate-value{
			display: none;
		}
		.ts-shelf-rate-count{
			top: 0;
			left: 0;
			margin-left: 10px;
			font-size: 14px;
		}
	}
	.ts-shelf-container > div{
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}
	.rating-click-here {
		display: inline-block;
		vertical-align: middle;
		font-weight: 300;
		margin-left: 5px;
		color: #daa81d;
	}
	&:hover span.rating-click-here{
		text-decoration: underline;
	}
	.ts-shelf-rate-symbols{
		width: 100% !important;
		height: 100% !important;
		background-size: cover !important;
		background-position: 0 -32px !important;
	}
}