/* ==========================================================================
   Home
   ========================================================================== */

.mainGallery {
	position: relative;
	width: 100%;
	overflow: hidden;
	a {
		display: block;
	}
	.box-banner {
		float: left;
	}
	.slick-dots {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
		margin-top: 0;
		button {
			background-color: transparent;
			border: 1px solid #fff;
			width: 20px;
			height: 20px;
		}
		li {
			margin: 0 8px;
		}
		.slick-active button {
			background-color: #fff;
		}
	}
}

.localNav {
	.menu-departamento {
		@extend %baseMenu;
		ul {
			display: none;
		}
	}
}

.featuredProducts.shelfCarousel {
	margin-top: 30px;
	.slick-track{
		display: flex;
	}
	.slick-slide{
		display: flex;
	    flex-direction: column;
		flex: 1 1 auto;
	}
	.productInfo{
		flex: 1 1 auto;
	}
}

.ourCollectionsNew {
	padding: 0 25%;
	overflow: hidden;
	a {
		display: block;
	}
	img {
		width: 100%;
	}
	.box {
		float: left;
		margin-right: -19px;
		position: relative;
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				z-index: #{10 - $i};
			}
		}
	}
}

.loveProducts {
	h2 {
		display: none;
	}
	.fullbanner {
		img {
			width: 100%;
		}
	}
}
.diferenciais{
	color: #fff;
	background-color: $color1;
	padding: 0 5%;
	p{
		a{
			color:#ffffff;
			text-decoration: none;
		}
	}
	ul{
		display: flex;
		flex-wrap: nowrap;
	}
	li{
		display: flex;
		flex-wrap: nowrap;
		flex: 1 1 auto;
		padding: 20px 0;
		align-items: center;

	}
	i{
		font-size: 30px;
		color: $color2;
		margin-right: 20px;
	}
}
