/* ==========================================================================
   Institucional
   ========================================================================== */

$font-size-big: 30px;
.pageTitle {
	@extend %pageTitle;
	font-size: 20px;
}

body.institucional,
body.institutional {
	&:not(.store):not(.fale-conosco) #mainContent > .wrapper {
		padding: 0;
	}
	.topName {
		background-color: transparent;
		justify-content: center;
	}
	.coordinates {
		text-align: center;
	}
	.accordionList__item {
		padding: 0;
		border: none;
		&.open {
			.accordionList__title {
				&:after {
					transform: rotate(90deg);
				}
			}
		}
	}
	.accordionList__content {
		line-height: 26px;
		color: #999999;
		h2 {
			color: $color3;
			&:first-of-type {
				margin: 0
			}
			margin: 20px 0 10px;
		}
		a {
			color: $color3;
		}
		&.active {
			padding: 20px 3%;
		}
	}
	.accordionList__title {
		display: flex;
		align-items: center;
		font-size: 24px;
		padding: 20px;
		margin-bottom: 2px;
		color: $color3;
		background-color: $color5;
		height: 70px;
		cursor: pointer;
		&:after {
			content: '\e900';
			position: relative;
			font-size: $font-size-big;
			top: initial;
			right: initial;
			transform: rotate(0deg);
			margin-left: auto;
			margin-right: 0;
		}
	}
	/*nossas lojas*/
	.mapPlace {
		width: 100%;
		height: 300px;
		padding: 10px;
		margin: 10px 0;
	}
	.searchResult {
		margin: 15px 0;
	}
	#gmapGeocoding {
		display: none;
	}
	#geolocationBtn {
		margin: 20px 0 0;
		&+ span {
			display: block;
			margin: 20px 0;
		}
	}
	.contentStores {
		display: none;
	}
	&.store {
		position: relative;
		.topName {
			margin-bottom: 25px;
			border-bottom: 1px dotted #b2b2b2;
		}
		#store-locator {
			padding-bottom: 20px;
		}
		.loc-title {
			display: block;
			text-transform: uppercase;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.loc-link,
		.loc-button,
		.store-actions a {
			display: block;
			padding: 17.4px 20px;
			color: #fff;
			background-color: $color3;
			font-size: $font-size-big;
			text-decoration: none;
			text-align: center;
			white-space: nowrap;
			border: none;
			border-radius: 3px;
			margin-bottom: 20px;
		}
		#search-loc {
			float: left;
			border-radius: 3px;
			width: 69%;
			margin-right: 1%;
		}
		.loc-button {
			width: 30%;
		}
		#loc-form {
			display: block;
		}
		.contentStores {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		#hidden_map {
			visibility: hidden;
			height: 0;
			width: 0;
		}
		.gmap {
			width: 100%;
			height: 400px;
			margin-bottom: 20px;
		}
		.gmapmap #infowindow-content {
			display: inline;
		}
		/* Optional: Makes the sample page fill the window. */
		#description {
			font-family: Roboto;
			font-size: 15px;
			font-weight: 300;
		}
		#infowindow-content .title {
			font-weight: bold;
		}
		#infowindow-content {
			display: none;
		}
		.pac-container {
			margin-left: 1px;
		}
		.pac-item-query {
			font-size: 18px;
			padding-right: 10px;
		}
		.pac-item {
			padding: 20px;
			font-size: 14px;
		}
		.pac-controls {
			display: inline-block;
			padding: 5px 11px;
		}
		.pac-controls label {
			font-family: Roboto;
			font-size: 13px;
			font-weight: 300;
		}
		#title {
			color: #fff;
			background-color: #4d90fe;
			font-size: 25px;
			font-weight: 500;
			padding: 6px 12px;
		}
		#target {
			width: 345px;
		}
		.store {
			display: none;
			flex: 0 0 auto;
			width: 100%;
			margin-top: -5px;
			height: 70px;
			overflow: hidden;
			h2 {
				display: flex;
				align-items: center;
				font-size: 24px;
				padding: 20px;
				background-color: $color5;
				height: 70px;
				cursor: pointer;
				&:after {
					content: '\e900';
					display: inline-block;
					font-family: 'icomoon';
					font-size: $font-size-big;
					color: inherit;
					float: right;
					margin-left: auto;
					margin-right: 0;
					transition: all .2s linear;
				}
			}
			p {
				display: block;
				color: #999999;
				margin-top: 10px;
				padding: 0 7%;
				white-space: pre-line;
			}
			&.loc-selected {
				display: block;
			}
			&.active {
				height: auto;
				h2:after {
					transform: rotate(90deg);
				}
			}
		}
		.store-actions,
		.store-phone-list {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-between;
			transition: all .3s linear;
			&:after {
				display: none;
			}
		}
		.store-actions {
			padding: 20px 7% 0;
			a {
				display: inline-block;
				flex: 0 1 48%;
			}
		}
		.store-phone-list {
			a {
				background-color: #64c463
			}
			&:not(.active) {
				display: none;
				opacity: 0;
			}
		}
		//side scroll
		.box-lojas.scrollable {
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
			overflow: hidden;
			& > div {
				flex: 0 0 100%;
			}
			-webkit-transform: translate3d(0, 0, 0);
		}
		.loc-unscroll {
			color: $color1;
			text-decoration: none;
			display: flex;
			width: 100%;
			flex-wrap: nowrap;
			align-items: center;
			padding: 20px;
			i {
				color: $color3;
				font-size: $font-size-big;
				margin-right: 20px;
				transform: rotate(180deg);
			}
		}
		.loc-error {
			display: block;
			width: 100%;
			text-align: center;
			font-size: 14px;
			margin: -10px 0 20px;
			color: #ff0000;
		}
	}
	.accordion {
		background: #fff;
		border-radius: 2px;
		li {
			border-bottom: 1px solid $accordionBorderColor;
			padding: 15px;
			position: relative;
			&.is-expanded {
				.accordion-title:after {
					transform: rotate(-90deg);
				}
			}
		}
		.accordion-title {
			font: $accordionTitleFont;
			color: $accordionTitleColor;
			position: relative;
			width: 100%;
			display: inline-block;
			&:after {
				content: "\e901";
				font-family: 'icomoon';
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: $accordionTitleIconColor;
				position: absolute;
				right: 0;
				top: 0;
				transform: rotate(90deg);
			}
		}
		.submenu {
			display: none;
			padding: 10px 0;
			&.active {
				display: block;
			}
		}
	}
	#mapAddress {
		height: 30px;
	}
	#geocodingBtn,
	#geolocationBtn,
	.seeMap,
	.seeRoute {
		@extend %primaryButton;
		height: 30px;
		padding: 0 5px;
		border: none;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
	.seeRoute:before {
		content: "\e910";
		font-family: 'icomoon';
		display: inline-block;
	}
	.backButton {
		width: 100%;
		display: block;
		background: #6f7693;
		line-height: 30px;
		color: #fff;
		padding: 5px 10px;
		&:before {
			content: "\e901";
			font-family: 'icomoon';
			display: inline-block;
			vertical-align: middle;
			transform: rotate(180deg);
			margin-right: 10px;
		}
	}
	#geolocationBtn:before {
		content: "\e912";
		font-family: 'icomoon';
		display: inline-block;
		vertical-align: middle;
	}
	.btnCall,
	.sendEmail {
		@extend %secondaryButton;
		margin: 10px 0;
		display: inline-block;
		vertical-align: middle;
		padding: 5px;
	}
	/*atendimento*/
	&.contact {
		margin-bottom: 10px;
		a {
			@extend %secondaryButton;
			text-transform: none;
			i,
			.contactInfo {
				display: inline-block;
				vertical-align: middle;
			}
			i {
				margin-right: 10px;
				font-size: rem(20px);
			}
		}
		.tel {
			font-size: rem(18px);
		}
		small {
			font-size: rem(10px);
			display: block;
		}
	}
	&.fale-conosco {
		p {
			color: #999999;
			text-align: center;
			margin: 20px 0;
		}
		label {
			font-size: 20px;
			color: initial;
			text-transform: none;
		}
		input[type="text"] {
			height: auto;
			color: #403f44;
			background-color: #fff;
			padding: 20px;
			border: 1px solid #ccc;
		}
		textarea {
			color: $color3;
			font-size: 16px;
			background-color: #fff;
			padding: 20px;
			border: 1px solid #ccc;
		}
		input[type=button] {
			display: block;
			width: 100%;
			height: auto;
			padding: 17.4px 20px;
			color: #fff;
			background-color: $color3;
			font-size: $font-size-big;
			text-decoration: none;
			text-align: center;
			white-space: nowrap;
			border: none;
			border-radius: 3px;
			margin-bottom: 20px;
		}
		.subTitle {
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			margin: 20px 0;
		}
		.box-info {
			background: #f1f1f1;
			padding: 10px;
			text-align: center;
			.phone {
				display: inline-block;
				font-size: 32px;
				font-weight: 700;
				letter-spacing: 1px;
			}
			.end {
				display: block;
				color: #999999;
				margin-top: -10px;
				text-indent: 50px;
			}
		}
		.box-info-phone {
			display: inline-block;
			color: inherit;
			text-decoration: none;
			&:before {
				content: '\e90c';
				font-family: 'icomoon';
				font-size: 40px;
				display: inline-block;
				vertical-align: text-top;
			}
		}
	}
}
