/* ==========================================================================
   Product
   ========================================================================== */
   body.product{
    #mainContent{
        //padding: 15px;
    }
}

/*nome header*/
.mainProductHeader{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .productTitle {
        width: 100%;
        font: $productNameFont;
        color: $productNameColor; 
        line-height: 1.2;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .productRef{
        display: flex;
        align-items: center;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 5px;
        margin-right: 30px;
    }
    .skuReference{
        margin-right: 10px;
    }
    .skuReference, span, .trustvox-rate, .trustvox-rate2{
        display: flex;
        align-items: center;
    }

    .rating-click-here {
        display: inline-block;
        vertical-align: middle;
        font-weight: 300;
        margin-left: 5px;
        color: #daa81d;

        &:hover {
            text-decoration: underline;
        }
    }

    .productRef span{
        display: inline-block !important;
        margin-right: 5px;
    }
}

/*img*/
.mainProductImage {
    margin: 0 -3% 20px;
    position: relative;
    
    #include{
        display: none;
    }

    .thumbs{
        background: #fff;
        overflow: hidden;
        //border: 1px solid $productImageBorderColor;
        a, > li, .slick-track li{
            display: block;
            width: 100%;
            float: left;
        }
        img{
            width: 100%;
            display: block;
            height: auto;
        }
    }
    .flags{
        display: none;
    }
    .slick-dots {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        margin-top: 0;
        button {
            background-color: transparent;
            border: 1px solid #ccc;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        li {
            margin: 0 8px;
        }
        .slick-active button {
            background-color: #ccc;
        }
    }
}


/*zoom*/
.imageZoom{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    color: $productZoomIconColor;
}

#zoomImage{
    .lightboxAction{
        color: $lightboxCloseColor;
    }   

    img{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }
}


/*share*/
.share{
    position: absolute;
    bottom: 50%;
    left: 3%;
    z-index: 2;
    color: $productShareColor;
    padding: 30px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    .ico{
        display: block;
        margin-bottom: 20px;
    }
    .icon-share{
        display: inline-block;
        font-size: 24px;
        width: 24px;
        height: 24px;
    }
}


/*main info*/
.mainProductInfo {
    
    .skuPrice{
        margin: 20px 0;
    }
    .productPrice {
        font-size: 24px;
        .descricao-preco{
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
            justify-content: center;
            .valor-dividido{
                order: -1;
            }
            span, strong, em, label{
                display: inline-block;
                white-space: nowrap;
            }
        }
        .valor-de{
            font-size: 0;
            .skuListPrice{
                font-size: rem(13px);
                text-decoration: line-through; 
                color: $productOldPriceColor;
                line-height: 1.3;
            }
        }
        .valor-por{
            font-size: 0;

            .skuBestPrice{
                font-size: 24px;
                font-weight: bold;
                color: $productBestPriceColor;
                margin-right: 10px;
            }
            &:after{
                content: '\00e0  vista';
                display: inline-block;
                vertical-align: baseline;
                font-size: 24px;
                margin-right: 10px;
            }
        }

        .price-best-price {
            font-size: rem(13px);

            strong.skuBestPrice{
                font-size: 15px;
                font-weight: bold;
            }
        }


        .valor-dividido{
            font-size: 0;
            &:after{
                content: 'sem juros ou';
                display: inline-block;
                vertical-align: baseline;
                font-size: 24px;
                margin-right: 10px;
            }
        }
        .economia-de, .preco-a-vista{
            display: none !important;
        }
        .skuBestInstallmentNumber{
            font-size: 30px;
            font-weight: bold;
            margin-right: 10px;
            // span{
            //     &:after{
            //         content: " de";
            //         display: inline-block;
            //         vertical-align: baseline;
            //         font-size: 16px;
            //         margin-left: 10px;
            //         font-weight: normal;
            //     }
            // }
        }
        .skuBestInstallmentValue{
            font-size: 40px;
            font-weight: bold;
            margin-right: 10px;
        }

    }
    .buyAndQuantity{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .buyQuantity{
        display: flex;
        flex: 1 1 auto;
        flex-wrap: nowrap;
        align-items: center;
        .quant-prefix{
            display: inline-block;
            margin-right: 10px;
        }
        .quant-button{
            display: block;
            width: 80px;
            height: 80px;
            padding: 20px;
            color: $color3;
            font-size: 50px;
            text-align: center;
            line-height: 40px;
            border: 1px solid #ccc;
            &.disabled{
                color: #999999;
            }
        }
        .quant-input{
            color: $color3;
            width: 80px;
            height: 80px;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            border: 1px solid #ccc;
            border-left: none;
            border-right: none;
            border-radius: 0;
            background-color: #f4f4f4;
            transition: all .1s linear;
            &:disabled{
                color: #999;
            }
        }
    }
    .buyProductButton{
        flex: 1 1 auto;
        .buy-button{
            @extend %buyActionButton;
            transition: all .3s linear;
            &[href^="javascript:alert"]{
                // background: #ccc;
                // border-color: #999;
            }
        }
    }
    .info{
        color: #999;
        white-space: nowrap;
        margin: 20px 0;
        i{
            display: inline-block;
            vertical-align: middle;
            font-size: 30px;
            margin-right: 20px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            white-space: initial;
            max-width: 90%;
        }
        a{
            display: inline-block;
            color: inherit;
            text-decoration: underline;
        }
    }
}


/*sku*/
.skuSelection{
    text-align: left;
    clear: both;
    border-bottom: 1px dotted #b2b2b2;
    .topic{
        margin-bottom: 20px;
    }

    .skuSelectorAction{
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        background: $skuBoxSelectColorBg;
        padding: 12px;
        text-transform: uppercase;
        color: $skuBoxSelectColorText;

        .selected{
            margin-left: 10px;
            font-weight: bold;
        }
    }

    .lightboxContentInner{
        min-width: 200px;
    }

    .topic{
        .specification{
            font-size: 0;
            margin-bottom: 20px;
            &:after{
                content: 'Escolha a cor:';
                font-size: 20px;
                font-weight: bold;
            }
        }

        input{
            display: none;
        }

        label{
            display: inline-block;
            padding: 8px 15px;
            margin: 0 5px 5px 0;
            color: $skuItemColorText;
            background: $skuItemColorBg;
            text-align: center;
            border: $skuItemBorder;
            border-radius: 2px;
            cursor: pointer;

            &.sku-picked{
                background: $skuItemPickedColorBg;
                color: $skuItemPickedColorText;
                border: $skuItemPickedBorder;
            }
        }

        &.Cor{
            label{
                padding: 0;
                margin: 0 20px 0 0;
                border: none;
                font-size: 0;
                &:first-of-type{
                    padding-left: 3%;
                }
                &:last-of-type{
                    margin: 0;
                    padding-right: 3%;
                }
                &:before{
                    content: '';
                    width: 60px;
                    height: 60px;
                    display: block;
                    background-size: cover;
                    background-position: center;
                    border: 1px solid #ccc;
                    box-shadow: inset 0 0 0 3px #fff;
                }
                &.checked{
                    &:before{
                        border-color: $color1;
                    }
                }
            }
            .item-dimension-Cor > span{
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                text-align: center;
                align-items: center;
                overflow-y: auto;
                padding-bottom: 20px;
                margin: 0 -3%;
                &::-webkit-scrollbar-track{
                    background-color: #eee;
                }

                &::-webkit-scrollbar{
                    width: 3px;
                    height: 3px;
                    background-color: #eee;
                }

                &::-webkit-scrollbar-thumb{
                    background-color: #ccc;
                }
            }
        }
    }

    .btnSelect{
        @extend %primaryButton;
    }
}


/*avise me*/
.sku-notifyme{
    position: relative;
    width: 100%;
    margin-top: 30px;

    h3{
        text-align: center;
        color: $notifymeTitleTxtColor;
        display: block;
        text-transform: uppercase;
        margin: 0px auto 10px auto;
        font-size: rem(15px);
    }

    p{
        color: $notifymeTxtColor;
        margin-bottom: 10px;
        font-size: rem(11px);
    }

    input[type=text]{
        width: 100%;
        display: block;
        margin-bottom: 15px;

        &.notifyme-client-email{
            float: left;
            width: 80%;
        }
    }

    .notifyme-button-ok{
        float: right;
        cursor: pointer;
        border: none;
        @extend %primaryButton;
    }
}

/* regras de pagamento */
.paymentInstallmentsRules{
    background: #eee;
    color: $color1;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 20px 0;
}

/* box toggle */
.boxToggle{
    .boxHeader{
        position: relative;
        padding: 20px;
        margin-top: 20px;
        font-size: 24px;;
        border: 1px solid #ccc;
        cursor: pointer;
        i{
            float: right;
            transform: rotate(90deg);
            transition: all .2s ease-in-out;
        }
    }
    .boxContent{
        display: none;
        background: #f4f4f4;
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: -1px;
        font-weight: 300;
        color: #3d3d42;
    }
    a{
        color: inherit;
    }
    &.paymentInfo{
        .titulo-parcelamento,
        .see-other-payment-method-link{
            display: none;
        }
        ul{
            padding-bottom: 10px;
        }
        li{
            display: inline-block;
            width: 50%;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }
    }
    &.shipping{
        h1,h2,
        .frete,
        .header,
        .close,
        .quantity{
            display: none;
        }
        .prefixo{
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            input{
                font-size: 24px;
                color: inherit;
                min-width: 160px;
            }
        }
        .contentWrapper{
            padding-top: 10px;
        }
        .frete-calcular{
            display: inline-block;
            vertical-align: middle;
        }
        .cep-busca{
            display: block;
            margin: 10px 0;
            a{
                color: $color1;
                font-size: 16px;
            }
        }
        .freight-btn{
            @extend %primaryButton;
            border: none;
            padding: 20px 40px;
            font-size: 24px;
        }
        .freight-values{
            color: #3d3d42;
            thead tr th:first-child,
            thead tr td:first-child,
            tbody tr th:first-child,
            tbody tr td:first-child{
                display: none;
            }
            th{
                text-align: left;
                color: $color1;
                font-weight: bold;
                padding: 10px 0;
            }
            td{
                padding: 10px 0;
            }
        }
    }
    &.active{
        .boxHeader i{
            transform: rotate(-90deg);
        }
    }
}

/*detalhes*/
.productDetails {
    padding-top: 20px;
    margin-top: 20px;
    position: relative;
    line-height: 1.3;
    
    a{
        color: $baseLinkColor;
    }

    h3{
        @extend %sectionTitle;
    }

    .productDetailsContent{
        color: #9f9fa1;
        overflow: hidden;
        line-height: 1.4;
        padding: 0 3%;
        &>div{
            margin-bottom: 20px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    .showMore{
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        margin: 10px auto;
        background: $productLoadMoreBg;
        color: #fff;
        display: block;
        font-size: rem(15px);

        &:after{
            content: "+";
            display: block;
        }

        &.active{
            &:after{
                content: "-";
            }
        }
    }
}


/*caracteristicas*/
#caracteristicas{
    h4{
        font-weight: bold;
        margin-bottom: 10px;
    }

    .Caracteristicas {
        display: none;
    }


    table{
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        td, th{
            padding: 5px 0;
        }

        &.Caracteristicas {
            display: none;
        }

        &.Especificacoes {
            .Acabamento {
                display: none;
            }
        }
    }
}


/*produtos complementares*/
.productComplementary{
    h2{
        @extend %sectionTitle;
    }
}

.trustvoxContainer {
    margin-top: 20px;
    h3#trustvox-reviews {
        @extend %sectionTitle;
        border-bottom: 0;
        margin-bottom: 0;
        padding: 0;
    }
}