@media only screen and (max-width: 425px) {
	$font-size-big: 20px;
	body {
		font-size: 14px;
	}
	input[type=text],
	select {
		font-size: 20px;
		padding: 20px 10px;
	}
	.lightbox {
		.welcome {
			font-size: 15px;
		}
		.menu-departamento {
			h3 {
				font-size: 1.025rem;
				&:before {
					@include transform(scale(0.8));
				}
			}
		}
	}
	.pageHeader {
		.ico {
			padding: 22px 10.2px;
			i {
				font-size: 24px;
			}
		}
	}
	.mainGallery {
		.slick-dots {
			button {
				width: 15px;
				height: 15px;
			}
		}
	}
	.diferenciais {
		font-size: 14px;
	}
	.shelf {
		h2 {
			font-size: 20px;
		}
	}
	.pageFooter {
		h3 {
			font-size: 18px;
		}
		ul {
			li {
				font-size: 15px;
			}
		}
		.newsBox {
			input[type="text"]{
				height: 30px;
				font-size: 16px;
			}
			input[type="button"]{
				height: 40px;
			}
			fieldset{
				&:not(.error){
					&:not(.success){
						&:after {
							right: 3px;
							bottom: 1px;
							font-size: 16px;
							line-height: 33px;
							width: 18%;
							height: 37px;
						}
					}
				}
			}
			padding: 20px 0 10px;
			h3 {
				font-size: 14px !important;
				text-align: center;
				span {
					text-align: center;
					line-height: 18px;
					width: 100%;
					font-size: 14px;
					float: none;
					margin-bottom: 10px;
				}
				&:before {
					font-size: 20px;
					margin-right: 10px;
					line-height: 30px;
					margin-bottom: 10px;
					float: none;
					text-align: center;
				}
			}
		}
		.copyright {
			p {
				font-size: 12px;
			}
			.dev {
				img {
					width: 70%;
					float: right;
				}
			}
		}
	}
	body.institutional,
	body.institucional {
		.accordionList__title {
			font-size: 20px;
			&:after {
				font-size: $font-size-big;
			}
		}
		&.store {
			.loc-link,
			.loc-button,
			.store-actions a {
				padding: 15px 10px;
				font-size: $font-size-big;
			}
			.store-phone-list a{
				font-size: 16px;
			}
			#search-loc{
				font-size: 14px;
			}
			.store {
				h2 {
					font-size: 14px;
					&:after {
						font-size: $font-size-big;
					}
				}
			}
			.loc-unscroll {
				i {
					font-size: $font-size-big;
				}
			}
		}
	}
	body.institutional.fale-conosco {
		input[type=button] {
			font-size: $font-size-big;
		}
		.box-info {
			&:before {
				font-size: 30px;
			}
			.phone {
				font-size: 24px;
			}
		}
	}
	/*sku*/
	.skuSelection{

		.topic{
			margin-bottom: 0;
			.specification{
				font-size: 0;
				margin-bottom: 20px;
				&:after{
					content: 'Escolha a cor:';
					font-size: 16px;
					font-weight: bold;
				}
			}
			label{
				display: inline-block;
				padding: 8px 15px;
				margin: 0 5px 5px 0;
				border-radius: 2px;
				cursor: pointer;
			}
			.select{
				display: flex;
				justify-content: center;
			}

			&.Cor{
				label{
					padding: 0;
					margin: 0 20px 0 0;
					border: none;
					font-size: 0;
					&:first-of-type{
						padding-left: 3%;
					}
					&:last-of-type{
						margin: 0;
						padding-right: 3%;
					}
					&:before{
						content: '';
						width: 40px;
						height: 40px;
						display: block;
						background-size: cover;
						background-position: center;
						border: 1px solid #ccc;
						box-shadow: inset 0 0 0 3px #fff;
					}
					&.checked{
						&:before{
							border-color: $color1;
						}
					}
				}
				.item-dimension-Cor > span{
					justify-content: center;
					width: 90%;
				}
			}
		}
	}


	.mainProductHeader{
		.productTitle{
			font-size: 22px;
		}
	}

	.mainProductInfo{
		.buyQuantity{
			justify-content: center;
			.quant-button {
				display: block;
				width: 40px;
				height: 40px;
				padding: 0px;
				font-size: 25px;
			}
			.quant-input {
				color: #403f44;
				width: 40px;
				height: 40px;
				font-size: 20px;
			}
		}
		.info{
			p{
				max-width: 84%;
				font-size: 16px;
			}
			a{
				display: inline;
			}
		}
		.buyAndQuantity{
			display: block;
		}
		.buyProductButton{
			margin-top: 20px;
			.buy-button{
				width: 90%;
				font-size: 22px;
				margin: 0 auto;
				padding: 10px;
				&:after {
					font-size: 20px;
				}
			}
		}
		.productPrice {
			text-align: center;
			.skuBestInstallmentNumber{
				font-size: 20px;
			}
			.descricao-preco{
				flex-direction: column;
				align-items: center;
				label{
					white-space: normal;
				}
				em{
					white-space: normal;
					font-size: 0;
				}
			}
			.skuBestInstallmentValue{
				padding: 0px;
				font-size: 20px;

			}
			.valor-por{
				.skuBestPrice{
					font-size: 20px;
				}
			}
		}
	}
	.paymentInstallmentsRules {
		padding: 10px;
		font-size: 16px;
		margin: 10px 0;
	}
	.boxToggle {
		.boxHeader {
			padding: 10px 20px;
			font-size: 18px;

		}
		&.shipping{
			.prefixo{
				input{
					width: 225px;
					padding: 10px;
					font-size: 18px;
				}
			}
			.freight-btn{
				padding: 11px;
				font-size: 18px;
			}
		}
	}
	.productDetails{
		h3{
			font-size: 20px;
		}
	}
	.footerCont{
		a{
			padding: 5px 10px 5px 0;
		}
	}
}
@media only screen and (max-width: 425px) {
	$font-size-big: 20px;
	body {
		font-size: 14px;
	}
	input[type=text],
	select {
		font-size: 20px;
		padding: 20px 10px;
	}
	.lightbox {
		.welcome {
			font-size: 15px;
		}
		.menu-departamento {
			h3 {
				font-size: 1.025rem;
				&:before {
					@include transform(scale(0.8));
				}
			}
		}
	}
	.pageHeader {
		.ico {
			padding: 22px 10.2px;
			i {
				font-size: 24px;
			}
		}
	}
	.mainGallery {
		.slick-dots {
			button {
				width: 15px;
				height: 15px;
			}
		}
	}
	.diferenciais {
		font-size: 14px;
	}
	.shelf {
		h2 {
			font-size: 20px;
		}
	}
	.pageFooter {
		h3 {
			font-size: 18px;
		}
		ul {
			li {
				font-size: 15px;
			}
		}
		.newsBox {
			input[type="text"]{
				height: 30px;
				font-size: 16px;
			}
			input[type="button"]{
				height: 40px;
			}
			fieldset{
				&:not(.error){
					&:not(.success){
						&:after {
							right: 3px;
							bottom: 1px;
							font-size: 16px;
							line-height: 33px;
							width: 18%;
							height: 37px;
						}
					}
				}
			}
			padding: 20px 0 10px;
			h3 {
				font-size: 14px !important;
				text-align: center;
				span {
					text-align: center;
					line-height: 18px;
					width: 100%;
					font-size: 14px;
					float: none;
					margin-bottom: 10px;
				}
				&:before {
					font-size: 20px;
					margin-right: 10px;
					line-height: 30px;
					margin-bottom: 10px;
					float: none;
					text-align: center;
				}
			}
		}
		.copyright {
			p {
				font-size: 12px;
			}
			.dev {
				img {
					width: 70%;
					float: right;
				}
			}
		}
	}
	body.institutional,
	body.institucional {
		.accordionList__title {
			font-size: 20px;
			&:after {
				font-size: $font-size-big;
			}
		}
		&.store {
			.loc-link,
			.loc-button,
			.store-actions a {
				padding: 15px 10px;
				font-size: $font-size-big;
			}
			.store-phone-list a{
				font-size: 16px;
			}
			#search-loc{
				font-size: 14px;
			}
			.store {
				h2 {
					font-size: 14px;
					&:after {
						font-size: $font-size-big;
					}
				}
			}
			.loc-unscroll {
				i {
					font-size: $font-size-big;
				}
			}
		}
	}
	body.institutional.fale-conosco {
		input[type=button] {
			font-size: $font-size-big;
		}
		.box-info {
			&:before {
				font-size: 30px;
			}
			.phone {
				font-size: 24px;
			}
		}
	}
	/*sku*/
	.skuSelection{

		.topic{
			margin-bottom: 0;
			.specification{
				font-size: 0;
				margin-bottom: 20px;
				&:after{
					content: 'Escolha a cor:';
					font-size: 16px;
					font-weight: bold;
				}
			}
			label{
				display: inline-block;
				padding: 8px 15px;
				margin: 0 5px 5px 0;
				border-radius: 2px;
				cursor: pointer;
			}
			.select{
				display: flex;
				justify-content: center;
			}

			&.Cor{
				label{
					padding: 0;
					margin: 0 20px 0 0;
					border: none;
					font-size: 0;
					&:first-of-type{
						padding-left: 3%;
					}
					&:last-of-type{
						margin: 0;
						padding-right: 3%;
					}
					&:before{
						content: '';
						width: 40px;
						height: 40px;
						display: block;
						background-size: cover;
						background-position: center;
						border: 1px solid #ccc;
						box-shadow: inset 0 0 0 3px #fff;
					}
					&.checked{
						&:before{
							border-color: $color1;
						}
					}
				}
				.item-dimension-Cor > span{
					justify-content: center;
					width: 90%;
				}
			}
		}
	}


	.mainProductHeader{
		.productTitle{
			font-size: 22px;
		}
	}

	.mainProductInfo{
		.buyQuantity{
			justify-content: center;
			.quant-button {
				display: block;
				width: 40px;
				height: 40px;
				padding: 0px;
				font-size: 25px;
			}
			.quant-input {
				color: #403f44;
				width: 40px;
				height: 40px;
				font-size: 20px;
			}
		}
		.info{
			p{
				max-width: 84%;
				font-size: 16px;
			}
			a{
				display: inline;
			}
		}
		.buyAndQuantity{
			display: block;
		}
		.buyProductButton{
			margin-top: 20px;
			.buy-button{
				width: 90%;
				font-size: 22px;
				margin: 0 auto;
				padding: 10px;
				&:after {
					font-size: 20px;
				}
			}
		}
		.productPrice {
			text-align: center;
			.skuBestInstallmentNumber{
				font-size: 20px;
			}
			.descricao-preco{
				flex-direction: column;
				align-items: center;
				label{
					white-space: normal;
				}
				em{
					white-space: normal;
					font-size: 0;
				}
			}
			.skuBestInstallmentValue{
				padding: 0px;
				font-size: 20px;

			}
			.valor-por{
				.skuBestPrice{
					font-size: 20px;
				}
			}
		}
	}
	.paymentInstallmentsRules {
		padding: 10px;
		font-size: 16px;
		margin: 10px 0;
	}
	.boxToggle {
		.boxHeader {
			padding: 10px 20px;
			font-size: 18px;

		}
		&.shipping{
			.prefixo{
				input{
					width: 225px;
					padding: 10px;
					font-size: 18px;
				}
			}
			.freight-btn{
				padding: 11px;
				font-size: 18px;
			}
		}
	}
	.productDetails{
		h3{
			font-size: 20px;
		}
	}
	.footerCont{
		a{
			padding: 5px 10px 5px 0;
		}
	}
}


@media only screen and (max-width: 320px) {

	// .mainProductInfo{
	// 	.buyAndQuantity{
	// 		display: block;
	// 	}
	// 	.buyProductButton{
	// 		margin-top: 20px;
	// 	}
	// 	.productPrice {
	// 		text-align: center;
	// 		.descricao-preco{
	// 			display: inherit;
	// 			label{
	// 				white-space: normal;
	// 			}
	// 			em{
	// 				white-space: normal;
	// 			}
	// 		}
	// 		.skuBestInstallmentValue{
	// 			padding: 10px;
	// 			font-size: 20px;

	// 		}
	// 		.valor-por{
	// 			.skuBestPrice{
	// 				font-size: 20px;
	// 			}
	// 		}
	// 	}
	// 	.info{
	// 		p{
	// 			max-width: 84%;
	// 		}
	// 	}
	// }

}
