@media only screen and (max-width: 425px) {
	.all{
		padding-top: 55px;
	}
	.ui-autocomplete{
		height: 100% !important;
		overflow: auto !important;
		position: fixed !important;
		top: 126px !important;
	}
	$font-size-big: 20px;
	body {
		font-size: 14px;
	}
	input[type=text],
	select {
		font-size: 20px;
		padding: 20px 10px;
	}
	.lightbox {
		.welcome {
			font-size: 15px;
		}
		.menu-departamento {
			h3 {
				font-size: 14px !important;
				&:before {
					@include transform(scale(0.8));
				}
				a{
					&:after{
						margin-top: -8px !important;
						font-size: 14px !important;
					}
				}
			}
		}
	}
	.pageHeader {
		.ico {
			padding: 14px 10px;
			i {
				font-size: 20px;
			}
		}
		.logo{
			padding: 12px 15px;
			a{
				height: 31px;
				min-width: 70px;
			}
		}
		.cart{
			margin-right: 10px;
			.amount-items-in-cart{
				.amount-items{
					em{
						padding: 4px;
						width: 15px;
						height: 15px;
						line-height: 7px;
						right: 4px;
						top: 10px;
						font-size: 12px;
					}
				}
			}
		}
	}
	.mainGallery {
		.slick-dots {
			button {
				width: 15px;
				height: 15px;
			}
		}
	}
	body.home{
		.slick-arrow{
			&:before{
				font-size: 30px;
			}
		}
		.shelfBanner{
			.productImage {
				margin: 0;
			}
			.installment{
				font-size: 24px;
			}
			.bestPrice{
				font-size: 16px;
				margin-top: 10px;
				font-weight: bold;
			}
			.productDescription {
				font-size: 12px;
				line-height: 20px;
				text-align: center;
				max-height: 200px;
			}
			.productInfo {
				display: block;
			}
			.numberInstallment {
				display: inline-block;
			}
			.productPrice {
				text-align: center;
				margin-bottom: 10px;
			}
		}
		.slick-prev{
			top: 90px;
		}
		.slick-next{
			top: 90px;
		}
		.ourCollectionsNew{
			padding: 0 13%;
		}
		.title-banner{
			display: block;
			font: 24px "Proxima Nova",sans-serif;
			color: #403f44;
			text-transform: uppercase;
			font-weight: 300;
			text-align: center;
			margin-bottom: 10px;
			text-align: center;
			padding: 35px 53px 30px 52px;
		}
		.loveProducts{
			p{
				padding: 0 20px;
				text-align: center;
				font-size: 12px;
				line-height: 20px;
			}
			.btn-banner{
				padding: 10px;
				border: 1px solid;
				width: 65%;
				margin: 30px auto;
				text-transform: uppercase;
				font-size: 12px;
				a{
					color: #000000;
				}
				i{
					float: right;
				}
			}
		}
	}
	.diferenciais {
		font-size: 13px;
		padding: 0 2%;
		li{
			display: block;
			text-align: center;
			padding: 16px 5px;
		}
		i{
			font-size: 24px;
			color: #f0e011;
			margin-right: 0;
		}
		p{
			padding: 5px 3px;
			a{
				color: #ffffff;
			}
		}
	}
	.shelf {
		h2 {
			font-size: 18px;
		}
	}
	.pageFooter {
		h3 {
			font-size: 18px;
			padding-bottom: 10px;
		}
		ul {
			li {
				font-size: 15px;
			}
		}

		.newsBox{
			padding: 20px 0 20px;
			input[type="text"] {
				display: block;
				width: 100%;
				height: 20px;
				font-size: 15px;
				color: #999;
				border-radius: 0;

			}
			input{
				&.newsletter-button-ok {
					width: 26.7%;
				}
			}
			input[type="button"] {
				height: 35px !important;
				padding: 10px 10px !important;
				top:66px !important;
				font-size: 0 !important;
				text-transform: capitalize !important;
				color: #fff !important;
				background: #00536e !important;
				border-radius: 3px !important;
			}
			h3{
				font-size: 22px;
				&:before{
					font-size: 23px;
					margin-right: 10px;
					line-height: 29px;
					display: none;
				}
				span{
					line-height: 30px;
					font-size: 14px;
					text-align: center;
				}
			}
			fieldset{
				&:not(.error){
					&:not(.success){
						&:after {
							right: 13px;
							font-size: 18px;
							line-height: 77px;
							width: 18%;
							height: 58px;
							font-size: 14px;
						}
					}
				}
			}
		}
		.footerCont{
			a{
				padding: 15px 5px;
				font-size: 14px;
			}
			li{
				&.secure{
					width: 50%;
					margin: 0 auto;
				}
				&.clearsale{
					width: 40%;
					margin: 0 auto;
				}
				&.pagamento{
					padding-top:30px;
				}
				&.ebit{
					width: 30%;
					margin: 0 auto;
				}

				&.abcomm {
					width: 30%;
					margin: 0 auto;

					img {
						margin: 0 auto;
					}
				}
			}
			ul{
				flex: initial;
			}
			.wrapper{
				display: block !important;
			}
		}
		.copyright {
			background-color: #fff;
			padding: 10px 0;
			p {
				font-size: 9px;
				padding-right: 0;
			}
			.dev {
				img {
					width: 70%;
					float: right;
				}
			}
		}
	}
	body.institutional.fale-conosco {
		.searchBox{
			.searchBoxContent{
				top:55px;
			}
		}
		.busca{
			.fulltext-search-box{
				background: #003c4f;
				height: 40px;
				width: 100%;
				color: #fff;
				font-size:16px;
				padding: 10px;
				padding-right: 70px;
				text-transform: uppercase;
				border: 1px solid #0a4356;
				border-radius: 0;
				outline: none;
				box-shadow: inset 2px 2px 0 #003647;
			}
			.btn-buscar{
				right: 2px;
				top: 2px;
				width: 37px;
				height: 36px;
				display: block;
				position: absolute;
				background: #00536e;
				border-radius: 3px;
				border: none;
				font-size: 0;
			}
			label{
				margin-top: -10px !important;
				margin-right: -3px !important;
				font-size: 0;
				&:before{
					font-size: 18px;
				}
			}
		}
		.btn-ok{
			height: 35px !important;
			padding: 10px 10px !important;
			top: 61px !important;
			font-size: 0 !important;
			text-transform: capitalize !important;
			color: #fff !important;
			background: #00536e !important;
			width: 25% !important;
			border-radius: 3px !important;
		}
		label{
			font-size: 15px;
		}
		p{
			font-size: 13px;
		}
		.subTitle{
			font-size: 14px;
			margin: 10px 0;
		}
		input[type=button] {
			font-size: 18px;
			padding:10px !important;
		}
		input[type="text"] {
			padding:10px;
		}
		.box-info {
			&:before {
				font-size: 30px;
			}
			.phone {
				font-size: 20px;
			}
			.end{
				font-size: 12px;
			}
		}
		.box-info-phone{
			&:before{
				font-size: 30px;
			}
		}
	}
	body.institutional {
		&.store {
			.loc-unscroll {
				font-size: 14px;
				i{
					display: none;
				}
			}
			.topName{
				.pageTitle{
					font-size: 24px;
				}
			}
			.loc-link{	
				padding: 10px 10px;
				font-size: 16px;
				width: 90%;
				margin: 0 auto;

			}
			.loc-button{
				width: 104px;
				padding: 13px;
				font-size: 12px;
				right: 0;
				margin: 0;
				display: inline-block;
			}
			.store-actions a {
				padding: 10px 10px;
				font-size:16px;
			}
			.loc-title{
				font-size: 14px !important;
			}
			.store-phone-list a{
				font-size: 16px;
			}
			#search-loc{
				float: left;
				border-radius: 3px;
				width: 61%;
				margin-right: 1%;
				font-size: 12px;
				padding: 12px;
			}
			.store {
				h2 {
					font-size: 14px;
					padding:10px;
					height: 40px;
					&:after {
						font-size: $font-size-big;
					}
				}
				p{
					font-size: 12px;
				}
			}
			.loc-unscroll {
				i {
					font-size: $font-size-big;
				}
			}
		}
		.pageTitle{
			font-size: 24px;
			text-align: center;
			line-height: 30px;
			padding: 15px;
		}
		.accordionList__title {
			font-size: 12px;
			padding: 10px;
			height: 40px;
			&:after {
				font-size: 16px;
			}
		}
		.accordionList__content{
			&.active{
				padding: 10px 3%;
				p{
					font-size: 12px;
					line-height: 20px;
				}
				h2{
					font-size: 12px;
				}
			}
		}
	}
	/*sku*/
	.skuSelection{

		.topic{
			margin-bottom: 0;
			.specification{
				font-size: 0;
				margin-bottom: 10px;
				&:after{
					content: 'Escolha a cor:';
					font-size: 16px;
					font-weight: bold;
				}
			}
			label{
				display: inline-block;
				padding: 8px 15px;
				margin: 0 5px 5px 0;
				border-radius: 2px;
				cursor: pointer;
			}
			.select{
				display: flex;
				justify-content: center;
			}

			&.Cor{
				label{
					padding: 0;
					margin: 0 10px 0 0;
					border: none;
					font-size: 0;
					&:first-of-type{
						padding-left: 3%;
					}
					&:last-of-type{
						margin: 0;
						padding-right: 3%;
					}
					&:before{
						content: '';
						width: 40px;
						height: 40px;
						display: block;
						background-size: cover;
						background-position: center;
						border: 1px solid #ccc;
						box-shadow: inset 0 0 0 3px #fff;
					}
					&.checked{
						&:before{
							border-color: $color1;
						}
					}
				}
				.item-dimension-Cor > span{
					//justify-content: center;
					width: 90%;
				}
			}
		}
	}
	.mainProductHeader{
		.productTitle{
			font-size: 18px;
			margin: 10px 0;
		}
		.productRef{
			font-size: 14px;
			margin-right: 0;
			padding-top: 0;
		}
		.trustvox-rate{
			width: 100%;
			padding: 10px 0;
		}
	}
	.lightbox{
		.lightboxHeader{
			padding: 10px;
		}
	}
	.trustvox-widget-rating{
		span{
			&.rating-click-here{
				font-size: 9px;	
			}
		}
		.ts-shelf-container{
			.ts-shelf-rate-count{
				font-size: 9px;
			}
			.ts-shelf-rate{
				width: 75px;
				height: 15px;
			}	
		}
	}
	.share{
		padding: 15px;
		left: 2%;
	}
	body.category.catalog {
		.filterOptions{
			display: block;
		}
		.topName{
			padding: 10px 3%;
		}
		.bannerCategory{
			p{
				position: absolute;
				top: 150px;
				font-size: 13px;
				width: 75%;
				padding: 0 20px;
				color: #403f44;
			}
		}

	}
	body.department.catalog {
		.topName{
			padding: 17px 3%;
		}
		.menuDept{
			top: 105px;
			h4{
				font-size: 14px;
				border: 0;
				border-bottom: 1px solid #00536e;
				&:last-child{
					border-bottom: 0;
				}
				a{
					color: #403f44;
				}	
			}
		}
		.bannerDepartment{
			p{
				position: absolute;
				top: 150px;
				font-size: 13px;
				width: 75%;
				padding: 0 20px;
				color: #403f44;
			}
		}

	}
	.footerIntitucional{
		display: block !important;
		width: 100%;
		&.boxToggle{
			.boxContent{
				background-color: transparent;
				color: #ffffff;
				padding: 0;
				border: 0;
			}
			.boxHeader{
				width: 100%;
				border: 0;
				border-top: 1px dashed;
				padding: 10px 15px 10px 0;
				font-size: 14px;
				margin-top: 10px;
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 1px;
				.secure{
					width: 50%;
				}
				.clearsale{
					width: 50%;
				}
			}
		}
	}
	.cont-faq{
		display: none;
	}
	.cont-ins{
		display: none;
	}
	.shelf{
		.productPrice{
			.installment{
				font-size: 18px;
			}
			.bestPrice{
				font-size: 12px;
			}
		}
		.productName{
			font-size: 11px;
			margin-top: 5px;
		}
		h2{
			font-size: 18px;
			padding: 0 10px;
			text-align: center;
		}
	}
	.mainProductInfo{
		.skuPrice{
			margin: 10px 0;
		}
		.buyQuantity{
			float: left;
			.quant-button {
				display: block;
				width: 35px;
				height: 45px;
				padding: 0px;
				font-size: 24px;
			}
			.quant-input {
				color: #403f44;
				width: 40px;
				height: 45px;
				font-size: 20px;
			}
			.quant-prefix{
				margin-right: 5px;
				display: none;
			}
		}
		.info{
			p{
				max-width: 84%;
				font-size: 16px;
			}
			a{
				display: inline;
			}
			i{
				font-size: 35px;
				margin-right: 10px;
			}
		}
		.buyAndQuantity{
			display: block;
		}
		.buyProductButton{
			float: left;
			width: 60%;
			.buy-button{
				font-size: 15px;
				padding: 12px;
				float: left;
				margin-left: 12px;
				width: 95%;
				&:after {
					font-size: 16px;
				}
			}
		}
		.productPrice {
			text-align: center;
			.skuBestInstallmentNumber{
				font-size: 24px !important;
				font-weight: bold;
				margin-right: 5px;
			}
			.descricao-preco{
				flex-direction: column;
				align-items: center;
				label{
					white-space: nowrap;
					margin-right: 5px;
					font-size: 24px;
				}
				em{
					white-space: nowrap;
					font-size: 0;
				}
				strong{
					font-size: 28px;
				}
			}
			.skuBestInstallmentValue{
				padding: 0px;
				font-size: 28px !important;

			}
			.valor-por{
				.skuBestPrice{
					font-size: 18px;
					margin-left: 5px;
					margin-right: 5px;
					&:before{
						content: 'sem juros ou';
						display: inline-block;
						vertical-align: baseline;
						font-size: 18px;
						margin-right: 5px;
						font-weight: normal;
					}
				}
				&:after{
					content: '\00e0  vista';
					display: inline-block;
					vertical-align: baseline;
					font-size: 12px;
					margin-right: 5px;
				}
			}
			.valor-dividido{
				font-size: 0;
				&:after{
					content: 'sem juros ou';
					display: inline-block;
					vertical-align: baseline;
					font-size: 12px;
					margin-right: 5px;
					display: none;
				}
			}
		}
		.paymentInstallmentsRules {
			padding: 10px;
			font-size: 18px;
			margin: 5px 0;
		}
		.boxToggle {
			.boxHeader {
				padding: 10px 15px;
				font-size: 16px;
				margin-top: 10px;
			}
			&.shipping{
				.prefixo{
					input{
						width: 225px;
						padding: 10px;
						font-size: 18px;
					}
				}
				.freight-btn{
					padding: 11px;
					font-size: 18px;
				}
			}
		}

		.productDetails{
			h3{
				font-size: 24px;
			}
			.productDetailsContent{
				font-size: 14px;
			}

		}
	}
	.topName {
		.titulo-sessao{
			font-size: 16px;
			font-weight: bold;
			&:after{
				font-size: 14px !important;
				margin-right: 25px !important;
			}
			.icon-arrow{
				right: 5px;
				font-size: 14px;
				top: 60%;
			}
		}
	}
	.searchBox{
		.searchBoxContent{
			top:55px;
		}
	}
	.busca{
		.fulltext-search-box{
			height: 40px;
			font-size: 16px;
			padding: 10px;
			padding-right: 70px;
			text-transform: uppercase;
		}
		.btn-buscar{
			right: 2px;
			top: 2px;
			width: 37px;
			height: 36px;
		}
		label{
			margin-top: -10px;
			margin-right: -3px;
			&:before{
				font-size: 18px;
			}
		}
	}
	.orderBy{
		width: 137px;
		height: 45px;
		float: right;
		select{
			padding: 14px 5px;
			font-size: 12px;
			font-weight: bold;
			color: $color3;
			background-color: $color5;
		}
		&:after{
			font-size: 18px;
			top: 0;
			right: 6px;
		}

	}
	.refineSearch {
		padding:13px  10px;
		font-size: 14px;
		line-height: 20px;
		width: 150px;
		display: flex;
		float: left;
		i{
			font-size: 18px;
			margin-right: 7px;
			transform: rotate(90deg);
			display: inline-block;
		}
	}
	#searchFilter{
		.lightboxHeader{
			font-size: 16px;
			i{
				display: none;
			}
		}
		.menu-departamento{
			padding: 20px 3% 0;
			&>h3{
				&.current-dept{
					font-size: 16px !important;
					text-transform: uppercase;
				}
			}
			h5{
				font-size: 16px !important;
				text-transform: uppercase;
			}
			label{
				padding: 10px 0;
				font-size: 14px;
			}
			li{
				font-size: 14px;
				padding: 10px 0;
			}
			.filtro_cor{
				.checkbox-color{
					margin: 10px 10px 10px 0;
					&:before{
						width: 40px;
						height: 40px;
					}
				}
			}
		}
		.filterRefine{
			background-color:transparent;
			.bt-refinar{
				padding: 10px;
				opacity: 1;
				border-bottom: 1px solid #353535;	
				&:after{
					font-size: 16px;
				}
			}
		}
	}
	.lightbox.full{
		.lightboxAction{
			top: 13px;
			right: 10px;
			i{
				font-size: 14px !important;

			}
		}
	}
	.topName{
		padding: 10px 3%;
		h2{
			font-size: 16px;
		}
		&.emptySearch{
			.searchTerm{
				font-size: 24px;
			}
		}
	}
	body.search-result{
		.search-count{
			font-size: 11px;
		}
	}
	.pageTitle{
		font-size: 24px !important	;
	}
	.socialMediaLinks {
		a{
			color: #999999;
			margin: 0 7px;
		}
	}
	.lightbox{
		.mainTitle{
			font-size: 18px;
			&:after{
				display: none;
			}
		}
	}
	input[type="button"]{
		@include appearance(none);
	}
	.shelfCarousel {
		.slick-dots{
			button{
				width: 8px;
				height: 8px;
			}
		} 
	}
}